@charset "utf-8";

/* 약관 동의 */
.terms_box h3 {margin-bottom:12px; font-size:18px; font-weight:800}
.terms_box .terms_content {overflow:hidden; overflow-y:scroll; box-sizing:border-box; margin-bottom:17px; padding:5px; height:100px; line-height:1.5em; border:1px solid #7d7d7d}
.terms_box > div {height:200px}
.terms_box .terms_chk { text-align:center}
.terms_chk_all {margin-bottom:49px; text-align:center; color:#e60012; font-size:14px; font-weight:800}

/* 배송현황 select_menu */
.ship_select.ui-selectmenu-button.ui-button.ui-widget {padding:0; width:78px; height:23px; border-color:#7d7d7d}
.ship_select.ui-selectmenu-button .ui-selectmenu-icon {display:none !important}
.ship_select.ui-selectmenu-button .ui-selectmenu-text {padding-left:5px; margin-right:0 !important; height:23px; line-height:23px; background:url(/img/common/bg_select.png) 62px center no-repeat}
.ship_select.ui-selectmenu-button .ui-selectmenu-text.no_check {background-color:#fcbec4}
.ship_select.ui-selectmenu-button .ui-selectmenu-text.check {background-color:#b0d7fa}
.ship_select.ui-selectmenu-button .ui-selectmenu-text.order {background-color:#f4f1cc}
.ship_select.ui-selectmenu-button .ui-selectmenu-text.shipping {background-color:#d3eed3}
.ship_select.ui-selectmenu-button .ui-selectmenu-text.delivery {background-color:#dcdcdc}

/* SMS관리 */
.sms_send.basic_box {padding:9px; width:294px}
.sms_send .screen {display:block; box-sizing:border-box; width:254px; height:174px; padding:7px; line-height:1.66666em; background:#c5dfe7; border:1px solid #ccc}
.sms_send .byte {line-height:15px; text-align:right}
.sms_send .sms_info {box-sizing:border-box; padding:10px 9px 9px; background:#fff; border:1px solid #ccc}
.sms_info h4 {height:17px; margin-bottom:9px}
.sms_info li {position:relative; height:24px; line-height:2.0em}
.sms_info li span {padding-left:5px}
.sms_info li .btn_area {position:absolute; top:0; right:0}
.num_list {padding:5px 0}
.num_list li:first-child {margin-top:0}
.num_list li {margin-top:9px; height:20px}
.num_list li input, .num_list li input:hover, .num_list li input:focus {margin-right:6px; padding:0 5px; width:210px; height:20px; border:1px solid #ccc; background:#fff}
.num_list li .del {display:inline-block; width:18px; height:20px; line-height:20px; text-align:center}
.sms_view > .basic_box {padding:20px 49px 21px; width:1036px}
.sms_view .basic_box h3 {margin-bottom:20px; height:18px; line-height:18px; font-size:14px}
.sms_view table td .ellipsis {width:100%}
.sms_view .paging.fl {box-sizing:border-box; padding-left:240px; width:660px; height:31px}
.sms_view .btn_area.fr {width:275px}
.layer_over {position:relative; display:inline}
.layer_over .layerOver {display:none; position:absolute; box-sizing:border-box; padding:11px 0; width:200px; line-height:1.5em; text-align:center; background:#fff; border:1px solid rgba(229,229,229,0.9); z-index:10}
.layer_over .layerOver .layer_tit {padding:0 5px 10px; line-height:1.5em; font-size:1.0em}
.layer_over .recent_num li {height:auto; border-top:1px solid rgba(238,238,238,93)}
.layer_over .recent_num li:first-child {border-top:none}
.layer_over .recent_num li a {display:block; line-height:19px}
.layer_over .recent_num li a:hover, .recent_num li a:focus {text-decoration:underline}

/* 보낸 메세지함 */
.screen_list {overflow:hidden; margin-left:-40px}
.screen_list li {float:left; margin:0 0 19px 40px; padding:0 9px 10px; border:1px solid #ccc}
.screen_list li input[type="checkbox"] {margin:3px 0;}
.screen_list li .basic_box {padding:9px 9px 0}
.screen_list li .screen {box-sizing:border-box; padding:11px; width:240px; height:130px; line-height:1.75em; background:#c5dfe7; border:1px solid #ccc}
.screen_list li dl {overflow:hidden; margin-top:11px}
.screen_list li dt, .screen_list li dd {padding-left:9px; float:left; line-height:21px}
.screen_list li dt {clear:both}

/* 협회전체 수발주 */
.option_area .month .btn {margin-left:5px; width:40px; min-width:inherit}
.option_area .month .btn:first-child {margin-left:0}
.list_table .ico_order {display:inline-block; box-sizing:border-box; margin-bottom:1px; padding:0 1px; width:45px; line-height:13px; text-align:center; background:#fff; border:1px solid #ccc; border-radius:5px; font-size:10px !important; text-decoration:none !important}
.list_table .ico_order.v2 {padding:2px 1px; line-height:12px; color:#023a63} /* 2줄 아이콘 */
.shop_info_ico {position:relative; top:1px; overflow:hidden; width:175px; height:18px; background:url(/img/order/bg_shop_info.gif) 0 0 no-repeat}
.shop_info_ico span, .shop_info_ico a {position:absolute; top:0; left:0; width:25px; height:18px; background-image:url(/img/order/bg_shop_info.gif); text-indent:-5000px}
.shop_info_ico .interlock {background-position:0 -18px}
.shop_info_ico .mobile {left:25px; background-position:-25px -18px}
.shop_info_ico .fax {left:50px; background-position:-50px -18px}
.shop_info_ico .fax.fail {left:50px; background-position:-50px -36px}
.shop_info_ico .sms {left:75px; background-position:-75px -18px}
.shop_info_ico .sms.fail {left:75px; background-position:-75px -36px}
.shop_info_ico .order {left:100px; background-position:-100px -18px}
.shop_info_ico .take {left:125px; background-position:-125px -18px}
.shop_info_ico .photo {left:150px; background-position:-150px -18px}

.layerOver[id*="order"] {padding:10px; width:340px; line-height:1.5em; text-align:left; border-width:5px}
.layer_over .layerOver[id*="order"] .layer_tit {padding-left:0}
.layerOver[id*="order"] dd {line-height:1.5em; font-size:12px !important}
.layerOver[id*="order"] dd strong {margin-right:5px}
.layerOver[id*="order"] dd strong + strong {margin-left:10px}