@charset "utf-8";

/* 검색옵션 */
.address_box .option_area {width:500px}
.address_box .option_area .option_srh{float:left; margin-right:10px}
.address_box .option_area .option_srh input[type="text"]{float:left; width:254px; height:30px}
.address_box .option_area .option_right{float:right; line-height:28px}
.address_box .option_area .option_right .btn{width:85px}

/* 주소록, 받는사람 공통 */
.address_box{width:500px}
.address_box:after{content:""; clear:both; display:block;}
.address_box .list li{padding:0 10px; line-height:1.666667em; border-bottom:1px solid #eee}
.address_list,.receive_person{float:left; width:228px; height:298px}
.address_list h3,
.receive_person h3{box-sizing:border-box; width:100%; line-height:2.3em; text-align:center; background:#ccc; border:1px solid #7d7d7d}

/* 주소록 */
input[type="checkbox"]{display:none}
.address_list .bylist_name li{float:left}
.address_list .bylist_name li{display:inline-block; float:left; box-sizing:border-box; width:114px; line-height:2.3em; text-align:center; background:#eee; border:1px solid #7d7d7d; border-top:0}
.address_list .bylist .byname_list ul{box-sizing:border-box; height:240px; border:1px solid #7d7d7d; border-top:0}
.address_list .byname_list,
.address_list .bygroup_list{display:none}
.address_list .bylist_name li.active {background:#023a63; border:1px solid #023a63; border-top:0; color:#fff}
.address_list .bylist .visible{display:block;}
.address_list .byname_list > ul{height:240px}
.address_list .bylist .bygroup_list .group_list{overflow:hidden; overflow-y:auto; box-sizing:border-box; height:90px; border:1px solid #7d7d7d; border-top:0}
.address_list .bylist .byname_list .list li{list-style:none}
.address_list .bylist .bygroup_list .group_list li{list-style:none}
.address_list .bylist .bygroup_list .group_list li.active{background:#c5dfe7}
.address_list .bylist .bygroup_list .group_address{position:relative; box-sizing:border-box; margin-top:10px; height:140px; border:1px solid #7d7d7d}
.address_list .bylist .bygroup_list .group_address .list{display:none; position:absolute; top:0; left:0; width:100%; height:100%}
.address_list .bylist .bygroup_list .group_address .visible{display:block;}
.selected{background:#c5dfe7}

/* 추가 삭제 버튼 */
.list_move{float:left; margin:0 10px; width:22px; height:54px;}
.list_move .btn_move{display:block; width:22px; height:22px}
.list_move .push_list{margin:128px 0 10px; background:url(/img/popup/btn_push.png)}
.list_move .pull_list{background:url(/img/popup/btn_pull.png)}

/* 받는사람 */
.receive_person{float:right}
.receive_person .receive_list{box-sizing:border-box; height:269px; border:1px solid #7d7d7d; border-top:0}

/* 체크버튼 */
.address_box .address_allchk{float:left; margin:9px 0 20px 0}
.address_box .scroll_y li.active{background:#c5dfe7}

/* 확인취소버튼 */
.btn_area.address{width:500px}