@charset "utf-8";

/* 주소록 */

.address_box input[type="radio"], .address_box input[type="checkbox"] {position:absolute; top:-3000px; left:0; opacity:0; width:1px; height:1px; font-size:1px}
.address_box .bylist li label:hover, .address_box .bylist li label.active,.group li label:hover, .group li label.active{background:#c5dfe7}
.address_box .list_box li label {display:block; padding-left:13px; height:18px; line-height:18px}

.address_box .option_area .option_srh{width:62%}
.address_box .option_area .option_srh input[type="text"]{float:left; width:80%}
.address_box .option_area .btn_m {padding:6px 17px; min-width:50px}
.address_box .list_box{width:46%}
.address_box .list_box h3 {box-sizing:border-box; line-height:28px; text-align:center; background:#ccc; border:1px solid #7d7d7d}

.address_box .address_list {float:left; height:300px}
.address_box .tab_list {position:relative}
.address_box .tab_list > li {float:left; width:50%}
.address_box .tab_list > li > label {box-sizing:border-box; padding:6px 0 5px; width:100%; height:30px; line-height:1.5em; text-align:center; background:#eee; border:1px solid #7d7d7d; border-top:none}
.address_box .tab_list > li > input:checked ~ label {background:#023a63; border-color:#023a63; color:#fff}
.address_box .tab_list > li input:checked ~ .bylist {display:block}

.address_box .tab_list .bylist {display:none; position:absolute; top:30px; left:0; box-sizing:border-box; width:100%; height:240px; border:1px solid #7d7d7d; border-top:0}
.address_box .tab_list .bylist li {border-top:1px solid #eee}
.address_box .tab_list .bylist li:first-child {border-top:0}

.address_box .tab_list .bylist.group_list {height:90px}
.address_box .tab_list .bylist.group_list li {border:0}

.address_box .address_list .tab_list .group {display:none; position:absolute; top:130px; left:0; box-sizing:border-box; width:100%; height:140px; border:1px solid #7d7d7d}
.address_box .address_list .tab_list .group ul {display:none}
.address_box .address_list .tab_list .group_tab > input:checked ~ .group {display:block;}

.list_move{display:inline-block;  margin:0 1.8%; width:22px; height:54px}
.list_move a{display:block; width:22px; height:22px}
.list_move .push_list{margin:128px 0 10px; background:url(/img/popup/btn_push.png)}
.list_move .pull_list{background:url(/img/popup/btn_pull.png)}

.address_box .receive_list{float:right}
.address_box .receive_list > ul {box-sizing:border-box; height:269px; border:1px solid #7d7d7d; border-top:0}

/* 번호추가 레이어팝업 */
.addNumberLayer .tit, .groupMangeLayer .tit {margin-bottom:17px}
.addNumberLayer .list_table th, .addNumberLayer .inner .list_table td,
.groupMangeLayer .list_table th, .groupMangeLayer .list_table td{box-sizing:border-box; padding:1px; line-height:2.4em; height:30px}
.addNumberLayer .list_table td input[type="text"],.groupMangeLayer .list_table td input[type="text"]{padding:0 10px; width:100%; height:100%; background:#fff}
.addNumberLayer .list_table td input:hover, .groupMangeLayer .list_table td input:hover,
.addNumberLayer .list_table tbody tr:first-child td{background:#eee}
.addNumberLayer .list_table td select{width:100%; background:#eee}
.addNumberLayer .btn_area{margin-top:110px}
.addNumberLayer .btn_area .btn, .groupMangeLayer .btn_area .btn{min-width:110px}

/* 그룹관리 레이어팝업 */
.groupMangeLayer .list_table td .btn{vertical-align:middle}
.groupMangeLayer .list_table{border-bottom:0}
.groupMangeLayer .group_list{height:150px; border:1px solid #7d7d7d; border-left:0}
.groupMangeLayer .group_list .list_table{border-left:1px solid #7d7d7d}
.groupMangeLayer .group_list .list_table tr:first-child td{border-top:0}