@charset "utf-8";

/* 로그인 */
.login_page#wrap {height:100%; background-color:#023a63; background-image:linear-gradient( #fff 141px, #023a63 141px); background-image:-webkit-linear-gradient( #fff 141px, #023a63 141px); background-image:-moz-linear-gradient( #fff 141px, #023a63 141px); background-image:-o-linear-gradient( #fff 141px, #023a63 141px)}
.login_page #header {box-sizing:border-box; margin:0 auto; padding:0 0 13px; width:1300px; background:#fff}
.login_page #header .logo {float:left; padding:64px 0 0 0}
.login_page #container {margin:0 auto; padding:74px 0 45px; width:1300px; min-width:1300px; background:none}
der-box; padding:2px 0 20px 2px; width:1300px; border:none; color:#fff; font-size:12px}
.login_page #footer .browser {overflow.login_page #footer {position:relative; margin:0 auto; box-sizing:bor:hidden; padding:12px 0}
.login_page #footer .browser li {float:left; margin-right:10px}
.login_page #footer address {width:auto; height:auto; line-height:17px}

.mem_login {float:left; padding-right:99px; width:553px}
.mem_login > div, .service > ul > li {box-shadow:5px 5px 7px 0.05em rgba(0,0,0,0.8)} /* box-shadow spread %대신 em으로 적용하면 비슷하게는 나오는것 같아요. */
.login {margin-bottom:18px; padding:20px 25px 19px 26px; background:#c5dfe7}
.login form {box-sizing:border-box; padding:15px 50px 20px; width:502px; border:2px solid #fff}
.login h2 {padding-left:2px; font-size:25px; color:#000918}
.login .type {padding:3px 4px 3px 0; text-align:right; font-size:14px}
.login dl {overflow:hidden; padding:15px 0 0 4px}
.login dl dt, .login dl dd {float:left; margin-bottom:4px; height:37px; line-height:2.65}
.login dl dt {clear:both; width:85px; text-align:center; background:#0071bc; color:#fff}
.login dl dd {margin-left:10px; width:295px; background:#eee}
.login dl dd input {padding:10px; width:100%; height:100%; line-height:17px}
.login dl dd input:hover, .login dl dd input:focus {background:#fff; color:#000}
.login .save {padding:7px 4px 10px 0; text-align:right; font-size:12px}
.login .save label {padding-left:25px}
.login .login_btn {display:inline-block; box-sizing:border-box; width:100%; height:44px; line-height:44px; background-color:#0071bc; background-size:200% 200%; background-position:0 0; color:#fff; font-weight:bold; font-size:16.67px;}
.login .login_btn:hover{background-image: -webkit-linear-gradient(left, #0d598c 25%, #3ca4e9 50%, #0071bc 150%); background-image:linear-gradient(90deg, #0d598c 25%, #3ca4e9 50%, #0071bc 150%); -webkit-animation: gradient-hover 2s infinite ease-in-out; animation: gradient-hover 2s infinite ease-in-out;}
.login .caution {padding-top:11px; font-size:11px}

.center {padding:22px 0 19px; background:#fff}
.center h2 {float:left; padding:65px 5px 0 0; width:221px; text-align:center; background:url(/img/login/bg_center.png) center 2px no-repeat; color:#000918}
.center .time {padding-bottom:15px}
.center .time li {line-height:1.95em}
.center dl {overflow:hidden}
.center dl dt, .center dl dd {float:left; line-height:18px; font-size:15px; font-weight:bold}
.center dl dd {padding:0 20px 0 5px}

.service {float:right; width:648px}
.service ul:after {clear:both; display:block; content:""}
.service ul li {float:left}
.service ul li a {display:block; box-sizing:border-box; width:100%; height:100%; text-align:center; background:#fff; font-size:16px}
.service ul li a:hover, .service ul li a:focus {box-shadow:none; -webkit-animation-name:pull-up; -webkit-animation-duration:.5s; -moz-animation-name:pull-up; -moz-animation-duration:.5s; -o-animation-name:pull-up; -o-animation-duration:.5s; animation-name:pull-up; animation-duration:.5s}

.service ul li.join {margin:0 0 14px; width:294px; height:233px}
.service ul li.join a {padding:17px 16px 16px 16px; background:#c5dfe7 url(/img/login/bg_srvJoin.png) center 123px no-repeat}
.service ul li.join a h3 {box-sizing:border-box; padding-top:27px; width:100%; height:100%; border:2px solid #fff; font-size:22px; font-weight:bold; color:#222}
.service ul li.flasystem {margin:0 0 18px 18px; width:336px; height:151px}
.service ul li.flasystem a {padding-top:28px}
.service ul li.out_customer {margin:0 0 14px 18px; width:336px; height:64px}
.service ul li.out_customer a {padding:20px 40px 0 0; background:#fff url(/img/login/bg_srvOut.png) 251px 19px no-repeat}
.service ul li.system {margin:0 0 18px; width:294px; height:136px}
.service ul li.system h3 {padding:21px 0 13px; font-size:18px}
.service ul li.system p {padding-top:10px; font-size:12px}
.service ul li.region_navi {margin:0 0 18px 18px; width:336px; height:136px}
.service ul li.region_navi a {padding-left:25px; text-align:left; background:#fff url(/img/login/bg_srvRegion.png) 263px 64px no-repeat}
.service ul li.region_navi h3 {padding:21px 0 4px; font-size:18px}
.service ul li.region_navi p {font-size:12px}
.service ul li.region_navi img {padding:20px 0 0}
.service ul li.certification {box-sizing:border-box; padding:35px 0 0 30px; width:100%; height:124px; line-height:1.625em; background:#fff; font-size:16px; color:#181842}
.service ul li.certification h3 {display:inline-block}

/* login popup */
.layer_pop.login {margin:-250px 0 0 -237px; box-sizing:border-box; padding:25px;  width:500px; height:475px; background:#fff}
.layer_pop.login h2 {margin-bottom:15px; padding:0; line-height:30px; font-size:25px}
.layer_pop.login form {padding:0; width:100%;  border:0}
.layer_pop.login dl {padding:27px 0 26px}
.layer_pop.login dl dt, .layer_pop.login dl dd {margin-bottom:6px}
.layer_pop.login dl dd {width:285px}
.layer_pop .login_btn {margin-bottom:28px}

/* animation */
@keyframes pull-up {
    0% {transform:scale(1)}
    50% {transform:scale(.98)}
    100% {transform:scale(1)}  
   }
@-webkit-keyframes pull-up {
    0% {-webkit-transform:scale(1)}
    50% {-webkit-transform:scale(.98)}
    100% {-webkit-transform:scale(1)}  
   }
@keyframes gradient-hover{
    from{background-position:0 0;}
    to{background-position:100% 0;}
}
@-webkit-keyframes gradient-hover{
    from{background-position:0 0;}
    to{background-position: 100% 0;}
}