@charset "utf-8";
/* layout */
.popup#wrap {width:100%; min-width:100%; height:100%; background:#fff}
.popup #content {box-sizing:border-box; padding:34px 30px 30px; width:100%; overflow:hidden; border-top:0}
.popup .tit .h2 {display:inline-block; font-size:18px; font-weight:800}
.popup .tit .h3 {display:inline-block; line-height:1.2em; font-size:14px; font-weight:800}

/* 협회가맹 가입신청서 */
.popup .join_form #header {box-sizing:border-box; width:100%; height:198px; background:linear-gradient(#fff 92px, #023a63 92px); background:-webkit-linear-gradient(#fff 92px, #023a63 92px); background:-moz-linear-gradient(#fff 92px, #023a63 92px); background:-o-linear-gradient(#fff 92px, #023a63 92px); border:1px solid #000; border-bottom:0}
.popup .join_form #header .logo {float:left; padding:28px 0 14px 60px}
.popup .join_form #header .logo img {width:245px; height:50px}
.popup .join_form #header .title {box-sizing:border-box; clear:both; padding:27px 0 0 60px; width:100%}
.popup .join_form #header .title h2 {margin-bottom:12px; height:25px; color:#fff; font-size:25px; font-weight:800}
.popup .join_form #header .title dt,
.popup .join_form #header .title dd {color:#fff; float:left}
.popup .join_form #header .title dt {margin-right:16px; font-weight:800}
.popup .join_form #content {box-sizing:border-box; padding:51px 60px 0 60px; width:100%; overflow:hidden; border:1px solid #000; border-top:0}
.popup .join_form table td {padding:10px; line-height:30px}
.popup .join_form table td input[type="text"], .join_form table td input[type="password"] {width:100%; line-height:20px; height:30px}

/* 배송가능지역 설정 */
.popup .shipping_option{width:100%}
.popup .shipping_option:after {clear:both; display:block; content:""}
.popup .shipping_option .mapsearch{float:left; box-sizing:border-box; width:28%; height:360px; border:1px solid #7d7d7d}
.popup .shipping_option .mapsearch h3{padding: 20px 0 12px 20px; line-height:1.5em; font-size:16px; font-weight:800}
.popup .shipping_option .mapsearch .map_api{margin:0 auto; width:88%; height:290px; background:#eee}
.popup .shipping_option .input_table{float:right; margin:0; width:71%}
.popup .shipping_option .input_table th,
.popup .shipping_option .input_table td{line-height:1.5em}
.popup .shipping_option .input_table th{padding:10px 0 11px}
.popup .shipping_option .input_table td{padding:7px 0}
.popup .shipping_option .input_table td .ui-selectmenu-button {min-width:62px}
.popup .shipping_option .input_table .al {padding-left:25px}

/* 회원검색 */
.popup .member_search {width:1160px}
.popup .member_search textarea {background:#fff; border:1px solid #ccc}
.popup .member_search .search_box {padding:10px; background:#023a63}
.popup .member_search .search_box .btn_select {display:inline-block; padding:6px 10px 6px 20px; width:98px; height:16px; vertical-align:middle;  background:#fff; border:1px solid #ccc}
.popup .member_search .search_box .layerOpen.active {background:#c5dfe7}
.popup .member_search .search_box .btn_select .ico {float:right; padding-left:10px; width:16px; height:16px; vertical-align:0; background:url(/img/common/bg_select.png) right center no-repeat}
.popup .member_search .search_box .select {padding:6px 6px 6px 10px; vertical-align:top}
.popup .member_search .search_box .keyword {box-sizing:border-box; height:30px; vertical-align:top; border:1px solid #ccc}
.popup .member_search .zone {float:left; width:430px; margin-right:10px}
.popup .member_search .zone .search_box {position:relative}
.popup .member_search .zone .layer.v2 {top:50px; left:0; height:auto}
.popup .member_search .zone .layer .region_list {width:100%; border:1px solid #ccc}
.popup .member_search .zone .layer .region_list td {padding:0; width:33.3333%; line-height:18px; text-align:center; vertical-align:middle; background:#fff; border:1px solid #ccc; font-size:11px}
.popup .member_search .zone .layer .region_list td.active,
.popup .member_search .zone .layer .region_list td:hover {background:#c5dfe7}
.popup .member_search .zone .layer .region_list td a {display:block;box-sizing:border-box; padding:5px 5px; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.popup .member_search .zone .layer .btn_area {background:#f7f7f7; border:1px solid #ccc; border-top:0}
.popup .member_search .zone .map_api {box-sizing:border-box; width:100%; height:528px; border:1px solid #ccc}
.popup .member_search .zone .zone_note textarea {display:block; width:100%; height:110px}
.popup .member_search .zone .zone_note .btn {padding:11px 5px; height:40px; width:100%}
.popup .member_search .shop {position:relative; float:right; width:720px}
.popup .member_search .shop .layer.v2 {top:50px; left:137px; width:583px; height:auto}
.popup .member_search .shop .search_box .select {width:102px}
.popup .member_search .shop .search_box .keyword {background:#fff; width:325px}
.popup .member_search .shop .search_box .btn_m {padding:6px 29px; min-width:inherit}
.popup .member_search .shop .result {height:650px}
.popup .member_search .shop .result > ol > li {overflow:hidden; box-sizing:border-box; width:100%; margin-bottom:10px; padding:9px; border:1px solid #7d7d7d}
.popup .member_search .shop .info {float:left; width:456px; margin-right:10px}
.popup .member_search .shop .info .box {padding:13px; border:1px solid #7d7d7d}
.popup .member_search .shop .info .box > div {height:20px; line-height:20px}
.popup .member_search .shop .result li .box .ellipsis {text-decoration:underline}
.popup .member_search .shop .info .list_table th, .popup .member_search .shop .info .list_table td {padding:2px 10px 3px; text-align:left; font-size:11px}
.popup .member_search .shop .info .shop_note {margin-top:9px; overflow:hidden}
.popup .member_search .shop .info .shop_note textarea {float:left; width:377px; height:40px}
.popup .member_search .shop .info .shop_note .btn {float:left; width:79px; height:40px; line-height:40px; background:#eee; border:1px solid #ccc; border-left:0; border-radius:0; font-size:11px}
.popup .member_search .shop .result li > table {width:214px}
.popup .member_search .shop .result li > table th {padding:9px 5px 10px}
.popup .member_search .shop .result li > table td {padding:8px 5px}
.popup .member_search .shop .result li > table .possible td {background:#d3eed3}
.popup .member_search .shop .result li > table .impossible td {background:#fbdbde}
.popup .member_search .shop .result .btn_area {clear:both; padding-top:10px}
.popup .member_search .shop .result .btn_area .btn {width:100%; border:1px solid #c5dfe7; border-radius:0}

/* 주소록 */
.popup .address_box input[type="radio"], .popup .address_box input[type="checkbox"] {position:absolute; top:-3000px; left:0; opacity:0; width:1px; height:1px; font-size:1px}
.popup .address_box .bylist li label:hover, .popup .address_box .bylist li label.active,.group li label:hover, .group li label.active{background:#c5dfe7}
.popup .address_box .list_box li label {display:block; padding-left:13px; height:18px; line-height:18px}
.popup .address_box .option_area .option_srh{width:62%}
.popup .address_box .option_area .option_srh input[type="text"]{float:left; width:80%}
.popup .address_box .option_area .btn_m {padding:6px 17px; width:50px}
.popup .address_box .list_box{width:46%}
.popup .address_box .list_box h3 {box-sizing:border-box; line-height:28px; text-align:center; background:#ccc; border:1px solid #7d7d7d}
.popup .address_box .address_list {float:left; height:300px}
.popup .address_box .tab_list {position:relative}
.popup .address_box .tab_list > li {float:left; width:50%}
.popup .address_box .tab_list > li > label {box-sizing:border-box; padding:6px 0 5px; width:100%; height:30px; line-height:1.5em; text-align:center; background:#eee; border:1px solid #7d7d7d; border-top:none}
.popup .address_box .tab_list > li > input:checked ~ label {background:#023a63; border-color:#023a63; color:#fff}
.popup .address_box .tab_list > li input:checked ~ .bylist {display:block}
.popup .address_box .tab_list .bylist {display:none; position:absolute; top:30px; left:0; box-sizing:border-box; width:100%; height:240px; border:1px solid #7d7d7d; border-top:0}
.popup .address_box .tab_list .bylist li {border-top:1px solid #eee}
.popup .address_box .tab_list .bylist li:first-child {border-top:0}
.popup .address_box .tab_list .bylist.group_list {height:90px}
.popup .address_box .tab_list .bylist.group_list li {border:0}
.popup .address_box .address_list .tab_list .group {display:none; position:absolute; top:130px; left:0; box-sizing:border-box; width:100%; height:140px; border:1px solid #7d7d7d}
.popup .address_box .address_list .tab_list .group ul {display:none}
.popup .address_box .address_list .tab_list .group_tab > input:checked ~ .group {display:block;}
.popup .list_move{display:inline-block;  margin:0 1.8%; width:22px; height:54px}
.popup .list_move a{display:block; width:22px; height:22px}
.popup .list_move .push_list{margin:128px 0 10px; background:url(/img/popup/btn_push.png)}
.popup .list_move .pull_list{background:url(/img/popup/btn_pull.png)}
.popup .address_box .receive_list{float:right}
.popup .address_box .receive_list > ul {box-sizing:border-box; height:269px; border:1px solid #7d7d7d; border-top:0}
.popup table.p00 td {padding:7px 10px;}
.popup table.p00 .ac{padding:0}
.popup .layer table +.scroll_y {border-right:1px solid #000; border-bottom:1px solid #000}
.popup .layer table + .scroll_y > table {border:0}
.popup .layer table + .scroll_y > table tr:first-child td {border-top:0}
.popup .layer table + .scroll_y > table tr td:last-child {border-right:0}
.popup .layer table + .scroll_y > table tr:last-child td {border-bottom:0}


/* 배송사진전송 */
.product_photo {width:216px}
.product_photo .send_select {padding:10px 10px 11px 10px}
.product_photo .send_select > h4 {display:inline-block; margin-right:30px; font-weight:500}
.product_photo .bb {border:1px solid #7d7d7d}
.product_photo .photo_select{box-sizing:border-box; height:342px}
.product_photo .photo_select .photo{margin:10px; width:196px; height:195px; background:#eee}
.product_photo .photo_select > h4 {padding:10px 1px 2px 10px; font-weight:500}
.product_photo .thumnail_list li {float:left; box-sizing:border-box; padding:10px 10px 15px 10px; width:33.33%; height:96px; border-left:1px solid #7d7d7d; border-top:1px solid #7d7d7d}
.product_photo .thumnail_list li:first-child{border-left:0}
.product_photo .thumnail_list li div{width:52px; height:52px; background:#eee}
.product_photo .manual {border:1px solid #ccc}
.product_photo .manual p {padding:20px 10px; line-height:20px;}
.product_photo .manual p:first-child{padding-top:19px; line-height:18px; border-bottom:1px solid #ccc}
/* 이메일 */
.email_send.basic_box {padding:9px; width:294px}
.email_send .list_table tbody th{padding:12px}
.email_send .list_table tbody td{padding:7px 12px 7px;}
.email_send .list_table input[type="text"] {width:100%; height:25px}
.email_send .explain_text{padding:5px 0; line-height:1.5em; font-size:10px}
.email_send{display:none}

/* 주문정보 */
.order_info_box .input_table {border:0}
.order_info_box .input_table .info{display:block; padding:5px 27px 6px; line-height:30px; background:#023a63; color:#fff}
.order_info_box .input_table .info.refuse{display:none; background:#e60012}
.order_info_box .input_table .info.refuse .btn_area{color:#000}
.order_info_box .input_table .btn_list{margin:0 auto; width:460px; height:32px; border-bottom:1px solid #ccc}
.order_info_box .input_table .btn_list li{float:left; width:114px; height:25px; line-height:25px; border-left:1px solid #ccc}
.order_info_box .input_table .btn_list li:first-child{margin:0; border:0}
.order_info_box .input_table .btn_list.v2 li{width:110px; margin-left:6px}
.order_info_box .input_table .btn_list.v2 li:first-child{margin:0;}
.order_info_box .input_table .btn_list.v2,
.order_info_box .input_table .btn_list.v2 li {border:0}
.order_info_box .input_table .btn_list .btn {min-width:110px; height:32px}
.order_info_box .input_table input[type="file"]{width:0; height:0; overflow:hidden}
.order_info_box .input_table img{vertical-align:middle}
/* 주문정보 > 상품검색 */
.product_image_search .list_table th, .product_image_search .list_table td {line-height:19px}
/* 주문정보 > 옵션수정 */
.product_opt_box .input_table input[type="text"] {width:75px}
.product_opt_box .input_table th, .product_opt_box .input_table td {line-height:28px}

/* 상품이미지검색 */
.product_image_list ul li{float:left; box-sizing:border-box; width:23.72%; padding:7px 9px 9px}
.product_image_list ul li img{display:block; margin:0 auto; width:120px; height:120px}
.upload_photo .input_table th{padding:10px 10px 11px}

/* 주문서, 인수증 */
.certificate {padding:40pt 60pt; height:100%}
.certificate .content {position:relative; height:100%}
.certificate .btn_area {position:absolute; top:15pt; right:60pt}
.certificate .top {padding:6.2pt 0; border-top:1pt solid #000; overflow:hidden}
.certificate .top .tit {float:left; padding:0 18.3pt 0 11pt; line-height:17.8pt; font-size:15.6pt; font-weight:bold}
.certificate .top dl, .certificate .top dt, .certificate .top dd {float:left; padding-right:5.5pt; font-size:7.2pt; line-height:8.9pt}
.certificate .top dl dd:last-child {clear:both}
.certificate .top .logo {float:right}
.certificate table {width:100%; border:1pt solid #000}
.certificate table th, .certificate table td {line-height:1.5em; border:1pt solid #000}
.certificate table th {font-size:10.32pt; font-weight:bold}
.certificate table td {padding:0.85pt 8pt; font-size:9.6pt}
.certificate .cut_line {position:absolute; top:50%; left:0; width:100%; height:4.92pt; text-align:center; font-size:7.92pt; border-bottom:1px dotted #000}
.certificate .print_sec2 {position:absolute; left:0; top:55%}
@media print{
    .certificate table td {padding:3.5pt 8pt}
}

/* 배송사진 등록 */
.img_ratate {overflow:hidden; margin-left:-5px; width:calc( 100% + 5px )}
.btn_rotateLeft {}
.btn_rotateRight {}

