<!doctype html>
<html lang="ko">
    <head>
        <title>전국플라워센터 - template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/> <!-- 메인에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
<script type="text/javascript">
    // 레이아웃용
    $(document).ready(function () {
        $('#header').load('/html/views/header.html');
        $('.gnb').load('/html/views/gnb.html');
        $('.lnb').load('/html/views/lnb.html');
        $('#footer').load('/html/views/footer.html');
    })
</script>

        <div id="wrap" class="main"> <!-- 메인페이지 일때 사용-->
            <header id="header"></header>
            <!-- /header -->

            <hr/>

            <nav class="gnb"></nav>
            <!-- /gnb -->

            <hr/>

            <div id="container">
                <div class="lnb"></div>

                <div id="content">
                    <div class="main">
                        메인페이지
                    </div><!-- /Main Page -->

                    <hr />

                    <footer id="footer"></footer>
                    <!-- /footer -->
                </div>

            </div>
            <!-- /container -->
        </div>

	<!-- 개발자 가이드 -->
	<script type="text/javascript">
        $(document).ready(function(){
            $('.developStatus').load('/status/status01.html');
        })
    </script>
    <div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
    <!-- //개발자 가이드 -->
    </body>
</html>
