<!doctype html>
<html lang="ko">
    <head>
        <title>인수증</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <style type="text/css">
            @media print{
                * {color:#000;  page-break-after: avoid}
                ul, img {page-break-inside: avoid}
                img {max-width:100%}
                .btn_area {display:none}
                @page {margin:2cm}
            }
        </style>
    </head>
    <body>
        <div class="certificate">
            <div class="btn_area ar">
                <a href="#" class="btn btn_confirm btn_xs">팩스전송</a>
                <a href="#" class="btn btn_confirm btn_xs">인쇄</a>
                <a href="javascript:window.close();" class="btn btn_confirm btn_xs">닫기</a>
            </div>

            <div class="content">
                <div class="top">
                    <h2 class="tit">주문서</h2>
                    <dl>
                        <dt>본부 TEL</dt>
                        <dd>1544-6487</dd>
                        <dt>본부 FAX</dt>
                        <dd>070-8224-6861</dd>
                        <dt class="ir">홈페이지 주소</dt>
                        <dd>www.theflowercenter.co.kr</dd>
                    </dl>
                    <h1 class="logo"><img src="/img/" alt="전국플라워센터 로고" /></h1>
                </div>
                <table summary="발주화원, 수주화원, 상품명, 배송일시, 배송지주소 등의 정보를 제공">
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <tr>
                        <th scope="col">NO : 2511111</th>
                        <td colspan="5">주문일자 : 2018-09-16 15:00</td>
                        <td rowspan="4"><img src="/img/flower/img01.jpg" alt="상품이미지명" /></td>
                    </tr>
                    <tr>
                        <th scope="col">발주화원</th>
                        <td colspan="5">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">수주화원</th>
                        <td colspan="5">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">상품명</th>
                        <td>근조3단</td>
                        <th scope="col">상품코드</th>
                        <td>NO.12</td>
                        <th scope="col">수량</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="col">배송일시</th>
                        <td colspan="3">2018년 09월 11일(일) 지금즉시배송</td>
                        <th scope="col" colspan="2">디카촬영</th>
                        <td>요청</td>
                    </tr>
                    <tr>
                        <th scope="col">주문자</th>
                        <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">배송지주소</th>
                       <td colspan="6">서울특별시 금천구 가산동 가산디지털 1로 222 422호</td>
                    </tr>
                    <tr>
                       <th scope="col">받는분</th>
                       <td colspan="6">고 홍길동(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                       <th scope="col">리본메세지</th>
                       <td colspan="6">삼가 고인의 명복을 빕니다</td>
                    </tr>
                    <tr>
                       <th scope="col">리본보내는분</th>
                       <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">카드메세지</th>
                       <td colspan="6">카드메세지</td>
                    </tr>
                    <tr>
                       <th scope="col">요청사항</th>
                       <td colspan="6">빨리보내주세요</td>
                    </tr>
                </table>
                <p><img src="/img/" alt="절취선" /></p>


                <div class="top">
                    <h2 class="tit">인수증</h2>
                    <dl>
                        <dt>본부 TEL</dt>
                        <dd>1544-6487</dd>
                        <dt>본부 FAX</dt>
                        <dd>070-8224-6861</dd>
                        <dt class="ir">홈페이지 주소</dt>
                        <dd>www.theflowercenter.co.kr</dd>
                    </dl>
                    <h1 class="logo"><img src="/img/" alt="전국플라워센터 로고" /></h1>
                </div>
                <table summary="발주화원, 수주화원, 상품명, 배송일시, 배송지주소 등의 정보를 제공">
                    <colgroup>
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                        <col width="" />
                    </colgroup>
                    <tr>
                        <th scope="col">NO : 2511111</th>
                        <td colspan="5">주문일자 : 2018-09-16 15:00</td>
                        <td rowspan="4"><img src="/img/flower/img01.jpg" alt="상품이미지명" /></td>
                    </tr>
                    <tr>
                        <th scope="col">발주화원</th>
                        <td colspan="5">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">수주화원</th>
                        <td colspan="5">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">상품명</th>
                        <td>근조3단</td>
                        <th scope="col">상품코드</th>
                        <td>NO.12</td>
                        <th scope="col">수량</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="col">배송일시</th>
                        <td colspan="3">2018년 09월 11일(일) 지금즉시배송</td>
                        <th scope="col" colspan="2">디카촬영</th>
                        <td>요청</td>
                    </tr>
                    <tr>
                        <th scope="col">주문자</th>
                        <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">배송지주소</th>
                       <td colspan="6">서울특별시 금천구 가산동 가산디지털 1로 222 422호</td>
                    </tr>
                    <tr>
                       <th scope="col">받는분</th>
                       <td colspan="6">고 홍길동(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                       <th scope="col">리본메세지</th>
                       <td colspan="6">삼가 고인의 명복을 빕니다</td>
                    </tr>
                    <tr>
                       <th scope="col">리본보내는분</th>
                       <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">카드메세지</th>
                       <td colspan="6">카드메세지</td>
                    </tr>
                    <tr>
                       <th scope="col">요청사항</th>
                       <td colspan="6">빨리보내주세요</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
