<!doctype html>
<html lang="ko">
    <head>
        <title>인수증</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css"/>
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div class="certificate" id="print">
            <div class="btn_area ar">
                <a href="#" class="btn btn_confirm btn_round00 btn_sm w90">팩스전송</a>
                <a href="javascript:void(0)" onclick="window.print();" class="btn btn_confirm btn_round00 btn_sm w90">인쇄</a>
                <a href="javascript:window.close();" class="btn btn_confirm btn_round00 btn_sm w90">닫기</a>
            </div>

            <div class="content">
                <div class="top">
                    <h2 class="tit">주문서</h2>
                    <dl>
                        <dt>본부 TEL</dt>
                        <dd>1544-6487</dd>
                        <dt>본부 FAX</dt>
                        <dd>070-8224-6861</dd>
                        <dt class="ir">홈페이지 주소</dt>
                        <dd>www.theflowercenter.co.kr</dd>
                    </dl>
                    <h1 class="logo"><img src="/img/common/logo_print.gif" alt="전국플라워센터 로고" width="72pt" height="14.9pt" /></h1>
                </div>
                <table summary="발주화원, 수주화원, 상품명, 배송일시, 배송지주소 등의 정보를 제공">
                    <colgroup>
                        <col width="15.15151%" />
                        <col width="*" />
                        <col width="9.0909%" />
                        <col width="6.0606%" />
                    </colgroup>
                    <tr>
                        <th scope="col" style="font-size:7.2pt"> NO : 2511111</th>
                        <td>주문일자 : 2018-09-16 15:00</td>
                        <td rowspan="4" colspan="2" class="p00 ac"><img src="/img/sample_img02.gif" alt="상품이미지명" width="52.2pt" height="73.9pt" /></td>
                    </tr>
                    <tr>
                        <th scope="col">발주화원</th>
                        <td>[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">수주화원</th>
                        <td>[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">상품명</th>
                        <td>근조3단</td>
                    </tr>
                    <tr>
                        <th scope="col">배송일시</th>
                        <td>2018년 09월 11일(일) 지금즉시배송</td>
                        <th scope="col" style="font-size:9.6pt">수량</th>
                        <td class="ac p00">1</td>
                    </tr>
                    <tr>
                        <th scope="col">주문자</th>
                        <td>홍길동</td>
                        <th scope="col" style="font-size:9.6pt">디카촬영</th>
                        <td class="ac p00">요청</td>
                    </tr>
                    <tr>
                       <th scope="col">배송지주소</th>
                       <td>서울특별시 금천구 가산동 가산디지털 1로 222 422호</td>
                       <th scope="col" style="font-size:9.6pt">상품코드</th>
                       <td class="ac p00" style="font-size:6pt">NO.12</td>
                    </tr>
                    <tr>
                       <th scope="col">받는분</th>
                       <td colspan="3">고 홍길동(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                       <th scope="col">리본메세지</th>
                       <td colspan="3">삼가 고인의 명복을 빕니다</td>
                    </tr>
                    <tr>
                       <th scope="col">리본보내는분</th>
                       <td colspan="3">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">카드메세지</th>
                       <td colspan="3">카드메세지</td>
                    </tr>
                    <tr>
                       <th scope="col">요청사항</th>
                       <td colspan="3">빨리보내주세요</td>
                    </tr>
                </table>

                <p class="cut_line"><span>절&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;취&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;선</span></p>

                <div class="top">
                    <h2 class="tit">인수증</h2>
                    <dl>
                        <dt>본부 TEL</dt>
                        <dd>1544-6487</dd>
                        <dt>본부 FAX</dt>
                        <dd>070-8224-6861</dd>
                        <dt class="ir">홈페이지 주소</dt>
                        <dd>www.theflowercenter.co.kr</dd>
                    </dl>
                    <h1 class="logo"><img src="/img/common/logo_print.gif" alt="전국플라워센터 로고" width="72pt" height="14.9pt" /></h1>
                </div>

                <table summary="발주화원, 수주화원, 상품명, 배송일시, 배송지주소 등의 정보를 제공">
                    <colgroup>
                        <col width="15.15151%" />
                        <col width="*" />
                        <col width="15.15151%" />
                        <col width="15.15151%" />
                        <col width="15.15151%" />
                        <col width="9.0909%" />
                        <col width="6.0606%" />
                    </colgroup>
                    <tr>
                        <th scope="col" style="font-size:7.2pt"> NO : 2511111</th>
                        <td colspan="6">주문일자 : 2018-09-16 15:00</td>
                    </tr>
                    <tr>
                        <th scope="col">발주화원</th>
                        <td colspan="6">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">수주화원</th>
                        <td colspan="6">[부산 사상구] 홍길동플라워(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                        <th scope="col">상품명</th>
                        <td colspan="4">근조3단</td>
                        <th scope="col" style="font-size:9.6pt">수량</th>
                        <td class="ac p00">1</td>
                    </tr>
                    <tr>
                        <th scope="col">배송일시</th>
                        <td colspan="4">2018년 09월 11일(일) 지금즉시배송</td>
                        <th scope="col" style="font-size:9.6pt">디카촬영</th>
                        <td class="ac p00">요청</td>
                    </tr>
                    <tr>
                        <th scope="col">주문자</th>
                        <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">배송지주소</th>
                       <td colspan="6">서울특별시 금천구 가산동 가산디지털 1로 222 422호</td>
                    </tr>
                    <tr>
                       <th scope="col">받는분</th>
                       <td colspan="6">고 홍길동(T 031-111-222 / F 061-111-222)</td>
                    </tr>
                    <tr>
                       <th scope="col">리본메세지</th>
                       <td colspan="6">삼가 고인의 명복을 빕니다</td>
                    </tr>
                    <tr>
                       <th scope="col">리본보내는분</th>
                       <td colspan="6">홍길동</td>
                    </tr>
                    <tr>
                       <th scope="col">카드메세지</th>
                       <td colspan="6">카드메세지</td>
                    </tr>
                    <tr>
                       <th scope="col">인수자</th>
                       <td class="ac">홍길동</td>
                       <th scope="col">관계</th>
                       <td class="ac">본인</td>
                       <th scope="col">인수시간</th>
                       <td class="ac" colspan="2">11시 00분</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
