<!doctype html>
<html lang="ko">
    <head>
        <title>클레임처리</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit mb10">
                    <h2 class="h2">클레임처리</h2>
                </div>

                <div class="claim_procBox">
                    <table class="list_table" summary="발주화원, 수주화원, 배송일, 상품명, 접수자, 클레임 처리상태, 클레임 사유, 첨부파일">
                        <caption>클레임처리</caption>
                        <colgroup>
                            <col width="30%"/>
                            <col width="*"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">발주화원</th>
                                <td>홍길동플라워</td>
                            </tr>
                            <tr>
                                <th scope="col">수주화원</th>
                                <td>홍길동플라워</td>
                            </tr>
                            <tr>
                                <th scope="col">배송일</th>
                                <td>2018-10-12</td>
                            </tr>
                            <tr>
                                <th scope="col">상품명</th>
                                <td>축하3단 / 축하3단</td>
                            </tr>
                            <tr>
                                <th scope="col">접수자</th>
                                <td>홍길동 (2018-10-11 11:11:11)</td>
                            </tr>
                            <tr>
                                <th scope="col">클레임 처리상태</th>
                                <td>
                                    <label><input type="radio" value="" name="claim" title="미처리" />미처리</label>
                                    <label><input type="radio" value="" name="claim" title="미처리" />처리완료</label>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">클레임 사유</th>
                                <td>
                                    <textarea style="height:120px">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officiis debitis quod optio dolorem quam soluta nihil, hic nobis pariatur? Doloribus a soluta ad error, qui magnam? Explicabo, eius aliquid.
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">첨부파일</th>
                                <td>
                                    <div class="attach_file">
                                        <div class="download">
                                                <a href="#" class="file_name"><span class="ico ico_down"></span>file1.jpg</a>
                                                <a href="#" class="btn btn_cancel btn_sm ml05">수정</a>
                                                <a href="#" class="btn btn_cancel btn_sm">삭제</a>
                                        </div>
                                        <div class="upload" style="display:none">
                                            <label class="btn btn_blue btn_sm">
                                                <input type="file" value="" name="" class="btn_file" title="첨부파일" />첨부파일
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn_area mt20 ar">
                        <a href="#" class="btn btn_confirm btn_m w100">수정</a>
                        <a href="#" class="btn btn_basic btn_m w100">삭제</a>
                        <a href="javascript:window.close();" class="btn btn_cancel btn_m w100">닫기</a>
                </div>
            </div>
        </div>
    </body>
</html>