<!doctype html>
<html lang="en">
    <head>
        <title>협회가맹 가입신청서</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <!-- 공통으로 사용하는 CSS -->
        <link rel="stylesheet" type="text/css" href="/css/popup.css"/>
        <!-- 팝업 화면에서만 사용하는 CSS -->
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <header id="header">
                <h1 class="logo">
                    <a href="http://flowercenter.roseweb.co.kr/" target="_parent">
                        <img src="/img/common/logo.png" alt="전국플라워센터"/>
                    </a>
                </h1>
                <div class="title">
                    <h2>협회가맹 가입신청서</h2>
                    <dl>
                        <dt>고객센터</dt>
                        <dd>TEL.
                            <a href="tel:1544-6487">1544-6487</a>
                            / FAX. 070-8224-6861</dd>
                    </dl>
                </div>
            </header>

            <hr/>

            <div id="content">
                <form action="" name="" method="">
                    <fieldset>
                        <legend>협회가맹 가입신청서</legend>
                        <div class="terms_box">
                            <!-- 회원약관 -->
                            <div>
                                <h3>회원약관</h3>
                                <div class="terms_content" tabindex="0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis aliquid laboriosam sed fugiat rerum magni, nostrum eum, iure pariatur suscipit ad blanditiis labore placeat esse! Dolorem facere voluptate ipsum velit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat facilis atque, iusto esse nesciunt laborum non mollitia adipisci dolore obcaecati? Rerum voluptatum mollitia cum, rem ullam quod quibusdam! Nemo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsam officia, dolores praesentium eius beatae obcaecati quidem eligendi dolore esse similique facilis ullam, deleniti laborum suscipit iusto optio maiores dolorem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, fugit. Possimus voluptate esse obcaecati corrupti cupiditate ratione dolore, impedit eligendi. Facilis eaque tempora eos, quisquam in maxime corporis natus suscipit!</div>
                                <p class="terms_chk chk1">
                                    <label>
                                        <input type="checkbox" name="" id="">
                                        전국플라워센터 이용약관에 동의합니다. (필수)
                                    </label>
                                </p>
                            </div>
                            <!-- 개인정보 수집 -->
                            <div>
                                <h3>개인정보 수집 및 이용에 관한 동의</h3>
                                <div class="terms_content" tabindex="0">내용</div>
                                <p class="terms_chk chk2">
                                    <label>
                                        <input type="checkbox" name="" id="">
                                        개인정보 수집 및 이용에 동의합니다. (필수)
                                    </label>
                                </p>
                            </div>
                            <!-- 개인정보 취급위탁 -->
                            <div>
                                <h3>개인정보 취급위탁 동의</h3>
                                <div class="terms_content" tabindex="0">내용</div>
                                <p class="terms_chk chk3">
                                    <label>
                                        <input type="checkbox" name="" id="">
                                        개인정보 취급위탁에 동의합니다. (필수)
                                    </label>
                                </p>
                            </div>
                        </div>
                        <!-- 전체동의 체크박스 -->
                        <p class="terms_chk_all">
                            <label>
                                <input type="checkbox" name="" id=""/>
                                전체 동의
                            </label>
                        </p>
                        <!-- 가입신청 버튼 -->
                        <div class="btn_area">
                            <a href="/application/popup/views/joinForm_table.html" class="btn_confirm">확인</a>
                            <a href="#" class="btn_cancel">취소</a>
						</div>
                    </fieldset>
                </form>
            </div>
        </body>
    </html>