<!doctype html>
<html lang="en">
<head>
<title>협회가맹 가입신청서</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="Flower, flasystem, '플라시스템'">
<meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
<meta property="og:title" content="전국플라워센터">
<meta property="og:url" content="https://www.flowercenter.co.kr/">
<link rel="stylesheet" type="text/css" href="/css/common.css" /> <!-- 공통으로 사용하는 CSS -->
<link rel="stylesheet" type="text/css" href="/css/popup.css" /> <!-- 팝업 화면에서만 사용하는 CSS -->
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
</head>
<!-- 
	1. 소스 정리해서 전달해주세요.
	2. ul class="terms_list"는 필요하지 않습니다. (이 경우에는 단독으로 사용되어질 가능성이 높으므로, terms_box가 더 적합해 보여요.)
	3. 버튼 기능들에 대해서 하단에 적어두었습니다. 확인버튼이나 취소버튼은 가장 많이 사용하는 버튼이므로, a링크로 수정 부탁드려요.
	
		버튼 종류 (시멘틱 마크업 기준)
		a : 링크    >>>>> 가장 많이 사용함 (링크, 버튼, 폼전송 등 다양하게 사용 가능함)
		button, input[type="button] : display:none/block 같은 아코디언 메뉴 등의 버튼 기능으로만 사용
		input[type="submit"], input[type="image"] : 폼 전송(form 태그와 거의 같이 사용함)

		input,a,button 을 함께 사용 시 호환성 테스트 필수(각각 다르게 보임)
 -->
<body>
	<div id="wrap" class="popup">
		<header id="header">
			<h1 class="logo">
				<a href="http://flowercenter.roseweb.co.kr/" target="_parent">
					<img src="/img/common/logo.png" alt="전국플라워센터" />
				</a>
			</h1>
			<div class="title">
			<h2>협회가맹 가입신청서</h2>
			<dl>
				<dt>고객센터</dt>
				<dd>TEL. <a href="tel:1544-6487">1544-6487</a> / FAX. 070-8224-6861</dd>
			</dl>
		</div>
		</header>

		<hr />

		<div id="content"><!-- lnb, qnb 없이 컨텐츠가 하나인 경우에는 container, content로 나누지 않음 -->
			<div class="join_content">
				<form action="" name="" method="">
					<fieldset>
						<legend>협회가맹 가입신청서</legend>
						<ul class="terms_list">
							<li class="terms_Mem">
								<h3 class="terms_title">회원약관</h3>
								<div class="terms_content" tabindex="0">내용</div>
								<input type="checkbox" name="" id="termsMember">
								<label for="termsMember">전국플라워센터 이용약관에 동의합니다. (필수)</label>
							</li>
							<li>
									<h3 class="terms_title">개인정보 수집 및 이용에 관한 동의</h3>
									<div class="terms_content"  tabindex="0">내용</div>
									<input type="checkbox" name="" id="termsPersonal">
									<label for="termsPersonal">개인정보 수집 및 이용에 동의합니다. (필수)</label>
							</li>
							<li>
									<h3 class="terms_title">개인정보 취급위탁 동의</h3>
									<div class="terms_content"  tabindex="0">내용</div>
									<input type="checkbox" name="" id="termsHandling">
									<label for="termsHandling">개인정보 취급위탁에 동의합니다. (필수)</label>
							</li>
						</ul>
						<p class="terms_chk_all">
							<input type="checkbox" name="" id="chk_all">
							<label for="chk_all">
								전체 동의
							</label></p>		
							<div class="bnt_area">
								<input type="submit" value="확인" class="btn_confirm">
								<input type="button" value="취소" class="btn_cancel"> <!-- 취소 버튼은 input이 아닌 a로 해도 됩니다 -->
							</div>				
					</fieldset>
				</form>
			</div>
	</div>
</body>
</html>