<!doctype html>
<html lang="ko">
    <head>
        <title>관리자 로그인 현황</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2 class="h2">관리자 로그인 현황</h2>
                </div>

                <div class="option_area">
                    <div class="option_sort">
                        <span class="calendar">
                            <label>
                                <span class="ico"></span>
                                <input type="text" class="datepicker" title="시작일자" />
                            </label>
                        </span> ~
                        <span class="calendar">
                            <label>
                                <span class="ico"></span>
                                <input type="text" class="datepicker" title="종료일자" />
                            </label>
                        </span>
                        <select title="검색 구분" class="select">
                            <option value="">아이디</option>
                            <option value="">직원명</option>
                            <option value="">아이피</option>
                        </select>
                        <input type="text" name="" value="" title="검색 키워드" placeholder="검색 키워드" class="ml10" />
                        <a href="#" class="btn btn_m btn_search">검색<span class="ico ico_srch"></span></a>
                    </div>
                </div>

                <table summary="일자, 아이디, 화원명, 접속 IP, 접속 디바이스 정보제공" class="list_table">
                    <caption>로그인 이력</caption>
                    <colgroup>
                        <col width="8%" />
                        <col width="*" />
                        <col width="16%" span="4" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">NO</th>
                            <th scope="row">일자</th>
                            <th scope="row">아이디</th>
                            <th scope="row">화원명</th>
                            <th scope="row">접속IP</th>
                            <th scope="row">접속디바이스</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>Mobile</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2018-08-28 14:00:00</td>
                            <td>TEST</td>
                            <td> 홍길동[주임]</td>
                            <td>14.111.111.11</td>
                            <td>PC</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- 페이징 -->
                <div class="paging mt20">
                    <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                    <a href="#" class="btn" title="이전 페이지">&lt;</a>
                    <ol>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ol>
                    <a href="#" class="btn" title="다음 페이지">&gt;</a>
                    <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                </div>
                <!-- //페이징 -->

                <div class="btn_area ar">
                    <a href="javascript:window.close();" class="btn btn_m btn_confirm">닫기</a>
                </div>
                
            </div>
        </div>
    </body>
</html>