<!doctype html>
<html lang="ko">
    <head>
        <title>협회가맹 가입신청서</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2>회원 검색</h2>
                </div>
                <div class="map_search">
                    <a href="Javascript:void(0);" class="layerOpen" id="address1">시/도 선택</a>
                    <!-- 시/도 선택 팝업 -->
                    <div class="layer v2" id="address1Layer">
                        <div class="layer_pop">
                            <div class="inner">
                                <ul class="region_list">
                                    <li><label><input type="radio" name="" value="" />서울특별시</label></li>
                                    <li><label><input type="radio" name="" value="" />경기도</label></li>
                                    <li><label><input type="radio" name="" value="" />인천광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />부산광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />대구광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />광주광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />대전광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />울산광역시</label></li>
                                    <li><label><input type="radio" name="" value="" />세종특별시</label></li>
                                    <li><label><input type="radio" name="" value="" />강원도</label></li>
                                    <li><label><input type="radio" name="" value="" />경상남도</label></li>
                                    <li><label><input type="radio" name="" value="" />경상북도</label></li>
                                    <li><label><input type="radio" name="" value="" />전라남도</label></li>
                                    <li><label><input type="radio" name="" value="" />전라북도</label></li>
                                    <li><label><input type="radio" name="" value="" />충청남도</label></li>
                                    <li><label><input type="radio" name="" value="" />충청북도</label></li>
                                    <li><label><input type="radio" name="" value="" />제주도</label></li>
                                </ul>
                                <div class="btn_area text_right">
                                    <a href="#" class="btn btn_cancel btn_s close">닫기</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /layer -->
                    <!-- // 시/도 선택 팝업 -->

                    <a href="Javascript:void(0);" class="layerOpen" id="address2">구/군 선택</a>
                    <!-- 구/군 선택 팝업 -->
                    <div class="layer v2" id="address2Layer">
                        <div class="layer_pop">
                            <div class="inner">
                                <ul class="region_list">
                                    <li><label><input type="radio" name="" value="" />전체</label></li>
                                    <li><label><input type="radio" name="" value="" />강남구</label></li>
                                    <li><label><input type="radio" name="" value="" />강동구</label></li>
                                    <li><label><input type="radio" name="" value="" />강북구</label></li>
                                    <li><label><input type="radio" name="" value="" />강서구</label></li>
                                    <li><label><input type="radio" name="" value="" />관악구</label></li>
                                    <li><label><input type="radio" name="" value="" />광진구</label></li>
                                    <li><label><input type="radio" name="" value="" />구로구</label></li>
                                    <li><label><input type="radio" name="" value="" />금천구</label></li>
                                    <li><label><input type="radio" name="" value="" />노원구</label></li>
                                    <li><label><input type="radio" name="" value="" />도봉구</label></li>
                                    <li><label><input type="radio" name="" value="" />동대문구</label></li>
                                    <li><label><input type="radio" name="" value="" />동작구</label></li>
                                    <li><label><input type="radio" name="" value="" />마포구</label></li>
                                    <li><label><input type="radio" name="" value="" />서대문구</label></li>
                                    <li><label><input type="radio" name="" value="" />서초구</label></li>
                                    <li><label><input type="radio" name="" value="" />성동구</label></li>
                                    <li><label><input type="radio" name="" value="" />성북구</label></li>
                                    <li><label><input type="radio" name="" value="" />송파구</label></li>
                                    <li><label><input type="radio" name="" value="" />양천구</label></li>
                                    <li><label><input type="radio" name="" value="" />영등포구</label></li>
                                    <li><label><input type="radio" name="" value="" />용산구</label></li>
                                    <li><label><input type="radio" name="" value="" />은평구</label></li>
                                    <li><label><input type="radio" name="" value="" />종로구</label></li>
                                    <li><label><input type="radio" name="" value="" />중구</label></li>
                                    <li><label><input type="radio" name="" value="" />중랑구</label></li>
                                    <li><label><input type="radio" name="" value="" />창원시 마산합포구</label></li>
                                </ul>
                                <div class="btn_area text_right">
                                    <a href="#" class="btn btn_cancel btn_s close">닫기</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /layer -->
                    <!-- // 구/군 선택 팝업 -->
                    <a href="Javascript:void(0);" class="layerOpen" id="address3">동/읍/면 선택</a>
                </div>

                <div class="btn_area text_right">
                    <a href="javascript:window.close();" class="btn btn_confirm btn_m">닫기</a>
                </div>
            </div>
        </div>
    </body>
</html>