<!doctype html>
<html lang="ko">
    <head>
        <title>주문정보</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2 class="h2">주문정보<span>(111111122)</span></h2>
                </div>

                
                <div class="order_info_box">
                    <table summary="주문정보" class="input_table">
                        <colgroup>
                            <col width="7.5%"/>
                            <col width="57%"/>
                            <col width="7.5%"/>
                            <col width="7.5%"/>
                            <col width="7.5%"/>
                            <col width="*"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="6" class="info" style="border-right:1px solid #023a63">
                                    현재<span>[직원명]</span>님께서 열람중인 주문서입니다.
                                    <span>[2018-06-25 15:04:10]</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup">발주화원</th>
                                <td>
                                    <a href="javascript:window.open('/application/popup/views/memberSearch.html','memberSearch','width=1220, height=910, top=50, left=50, scrollbars=yes');" class="btn btn_blue btn_sm w70">화원선택</a>
                                    <input type="text" value="" name="" class="ml05" style="width:140px" />
                                    <input type="text" value="" name="" class="ml05" style="width:165px"/>
                                    <input type="text" value="" name="" class="ml05" style="width:85px"/>
                                    <input type="text" value="" name="" class="ml05" style="width:85px"/>
                                    <a href="#" class="btn btn_blue btn_sm w70 ml05">화원정보</a>
                                    <a href="#" class="btn btn_blue btn_sm w70 ml05">입금내역</a>
                                </td>
                                <th scope="colgroup">주문등록일</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">2018-06-25 10:11:11</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">수주화원</th>
                                <td>
                                    <a href="javascript:window.open('/application/popup/views/memberSearch.html','memberSearch','width=1220, height=910, top=50, left=50, scrollbars=yes');" class="btn btn_blue btn_sm w70">화원선택</a>
                                    <input type="text" value="" name="" class="ml05" style="width:140px" />
                                    <input type="text" value="" name="" class="ml05" style="width:165px" />
                                    <input type="text" value="" name="" class="ml05" style="width:85px" />
                                    <input type="text" value="" name="" class="ml05" style="width:85px" />
                                    <a href="#" class="btn btn_blue btn_sm w70 ml05">화원정보</a>
                                    <a href="#" class="btn btn_blue btn_sm w70 ml05">입금내역</a>
                                </td>
                                <th scope="colgroup">주문확인시간</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">2018-06-25 11:11:11</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">상품정보</th>
                                <td>
                                    <a href="javascript:window.open('/application/popup/views/productSearch.html','productSearch','width=370, height=550, top=50, left=50, scrollbars=yes');" class="btn btn_blue btn_sm w70">상품수정</a>
                                    <input type="text" value="" name="" class="ml05" style="width:140px" />
                                    <input type="text" value="" name="" class="ml05" style="width:165px" />
                                    <input type="text" value="" name="" class="ml05" style="width:85px" /> EA
                                </td>
                                <th scope="colgroup">주문상태</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">
                                    <input type="checkbox" value="" name="" /> 불가
                                    <input type="checkbox" value="" name="" class="ml15" /> 지정주문
                                    <input type="checkbox" value="" name="" class="ml15" /> 보류
                                    <input type="checkbox" value="" name="" class="ml15" /> 버림
                                    <input type="checkbox" value="" name="" class="ml15" /> 주문확인중
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup" rowspan="2">상품이미지</th>
                                <td>
                                    <label for="file_select" class="btn btn_blue btn_sm w70">파일선택</label>
                                    <input type="file" value="" name="" id="file_select" class="file_select"/>
                                    <input type="text" value="" name="" placeholder="선택된 파일 없음" style="width:150px" />
                                    PC에서 선택
                                </td>
                                <th scope="colgroup">해피콜</th>
                                <td colspan="2">
                                    <input type="radio" value="" name="happycall" /> 요청
                                    <input type="checkbox" value="" name="" class="ml05" /> 배송사진 URL 전송
                                </td>
                                <td style="border-right:1px solid #7d7d7d">
                                    <input type="radio" value="" name="happycall" /> 미요청
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none">
                                    <div>
                                        <a href="javascript:window.open('/application/popup/views/productPhotoSearch.html','productPhotoSearch','width=670, height=820, top=50, left=50, scrollbars=yes')" class="btn btn_blue btn_sm w70">검색등록</a>
                                        <input type="text" value="" name="" placeholder="URL 직접입력" class="ml05" style="width:370px" />
                                        <a href="#" class="btn btn_blue btn_sm w70 ml05">미리보기</a>
                                        <a href="#" class="btn_plus"></a>
                                        <a href="#" class="btn_minus"></a>
                                    </div>
                                </td>
                                <th scope="colgroup">배송사진</th>
                                <td>
                                    <input type="radio" value="" name="deliveryPhoto" /> 요청
                                </td>
                                <td>
                                    <input type="radio" value="" name="deliveryPhoto" /> 미요청
                                </td>
                                <td style="border-right:1px solid #7d7d7d">
                                    <input type="checkbox" value="" name="" /> 미등록시 벌금부과
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup">원청금액</th>
                                <td>
                                    <input type="text" value="" name="" style="width:100px" />
                                    <strong class="ml15">십만원</strong>
                                    <a href="#" class="btn btn_cancel btn_sm ml15">10만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">5만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">1만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">5천</a>
                                    <a href="#" class="btn btn_blue btn_sm">정정</a>
                                    <input type="checkbox" value="" name="" class="ml20" /> 원천금액 미노출
                                </td>
                                <th scope="colgroup">인수자(관계)</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">홍길동(상주)</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">화훼결제금액</th>
                                <td>
                                    <input type="text" value="" name="" style="width:100px" />
                                    <strong class="ml15">육만원</strong>
                                    <a href="#" class="btn btn_cancel btn_sm ml15">10만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">5만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">1만</a>
                                    <a href="#" class="btn btn_cancel btn_sm">5천</a>
                                    <a href="#" class="btn btn_blue btn_sm">정정</a>
                                </td>
                                <th scope="colgroup">배달여부<br />(인수시간)</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">배송완료 (2018-05-05 09:00:00)</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">옵션금액</th>
                                <td>
                                    <input type="text" value="" name="" style="width:100px" />
                                    <strong class="ml15">칠만원</strong>
                                    <a href="#" class="btn btn_blue btn_sm ml15">옵션수정</a>
                                    <a href="#" class="btn btn_cancel btn_sm">케이크 40,000원</a>
                                    <a href="#" class="btn btn_cancel btn_sm">코사지 20,000원</a>
                                </td>
                                <th scope="colgroup"><strong>총 결제금액<br />(옵션포함)</strong></th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">
                                    <input type="text" value="" name="" class="bold" style="width:100px" />
                                    <strong>십이만원</strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup" rowspan="2">주문고객정보</th>
                                <td>
                                    <input type="text" value="" name="" placeholder="주문자명" style="width:100px" />
                                    <input type="text" value="" name="" class="ml05" placeholder="일반전화" style="width:140px" />
                                    <input type="text" value="" name="" class="ml05" placeholder="핸드폰" style="width:140px" />
                                    <input type="checkbox" value="" name="" class="ml05" /> 안심번호 사용
                                </td>
                                <th scope="colgroup">배송사진</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">
                                    <span>http://test.co.kr/11</span>
                                    <a href="#" class="btn btn_blue btn_sm w100 ml20">배송사진 전송</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none">
                                    <a href="#" class="btn btn_blue btn_sm w100">안심번호</a>
                                    <span>일반전화 02-1111-1111</span>
                                    <span>핸드폰 010-1111-1111</span>
                                    <span>(유효기간 2018-06-29까지)</span>
                                </td>
                                <th scope="colgroup">전할메세지</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">전할메세지</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">받는고객정보</th>
                                <td>
                                    <input type="text" value="" name="" placeholder="주문자명" style="width:100px" />
                                    <input type="text" value="" name="" class="ml05" placeholder="일반전화" style="width:140px" />
                                    <input type="text" value="" name="" class="ml05" placeholder="핸드폰" style="width:140px" />
                                    <input type="checkbox" value="" name="" class="ml05" /> 안심번호 사용
                                </td>
                                <th scope="colgroup">주문작성자</th>
                                <td colspan="3" style="border-right:1px solid #7d7d7d">홍길동</td>
                            </tr>
                            <tr>
                                <th scope="colgroup">배송일시</th>
                                <td>
                                    <span class="calenda">
                                        <input type="text" class="datepicker" style="width:100px" />
                                        <span class="ico"></span>
                                    </span>
                                    <span class="ml05">토요일</span>
                                    <input type="text" value="" name="" class="ml05" style="width:320px" />
                                </td>
                                <th scope="colgroup" rowspan="3">요구사항</th>
                                <td rowspan="3" colspan="3" style="border-right:1px solid #7d7d7d">
                                    <textarea class="bold text_warning" style="height:101px">볼드처리 및 텍스트 색상처리 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum totam dolores ad officia, reiciendis consectetur natus consequatur eveniet rerum provident, placeat dolorem! Delectus quidem placeat sunt alias voluptas? Maiores, voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam est alias enim ut iure sed aspernatur, distinctio, recusandae laudantium mollitia magnam doloribus perspiciatis repellat itaque porro, voluptatem aut? In, ex.</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup" rowspan="2">배송장소</th>
                                <td>
                                    <a href="#" class="btn btn_sm btn_blue w100">주소검색</a>
                                    <input type="text" value="" name="" placeholder="우편번호" style="margin-left:5px; width:100px" />
                                    <span class="fr">
                                        <a href="#" class="btn btn_sm btn_blue w100">NAVER 지도</a>
                                        <a href="#" class="btn btn_sm btn_blue w100 ml05">신주소 변환</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none">
                                    <input type="text" value="" name="" placeholder="직접입력" style="width:367px" />
                                    <input type="text" value="" name="" placeholder="직접입력" style="margin-left:5px; width:367px" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup">경조사어</th>
                                <td>
                                    <input type="text" value="" name="" style="width:635px" />
                                    <a href="#" class="btn btn_blue btn_sm ml05 w100">경조사어 복사</a>
                                </td>
                                <th scope="colgroup" rowspan="2">관리자메모</th>
                                <td rowspan="2" colspan="3" style="border-right:1px solid #000">
                                    <textarea style="height:64px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, architecto. Nostrum quaerat, a quisquam asperiores placeat velit sed omnis enim sit doloremque beatae amet explicabo praesentium sunt laboriosam repellendus eius!</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup">보내는분</th>
                                <td>
                                    <input type="text" value="" name="" style="width:635px" />
                                    <a href="#" class="btn btn_blue btn_sm ml05 w100">보내는분 복사</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="colgroup" rowspan="3" style="border-bottom:1px solid #000">카드메세지</th>
                                <td rowspan="3" style="border-bottom:1px solid #000">
                                    <textarea style="height:105px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id error eaque est amet fuga saepe officia? Veritatis illum qui a sit deserunt dolore doloremque? Cupiditate ipsa laudantium porro. Corporis, eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nemo corporis similique! Illum non voluptate recusandae veritatis aspernatur unde minus ipsa mollitia earum, beatae labore inventore. Non facere ut sequi!</textarea>
                                </td>
                                <td colspan="4" style="padding-bottom:0">
                                    <ul class="btn_list ac text_11 bold">
                                        <li>
                                            <a href="#" class="btn">주문거절</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn">본부확인</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn">수주화원 변경</a>
                                        </li>
                                        <li style="line-height:12.5px">
                                            <a href="#" class="btn">주문원장 재전송<br />(인수증출력)</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding-bottom:0; border-top:none">
                                    <ul class="btn_list ac text_11 bold">
                                        <li>
                                            <a href="#" class="btn">배송처리</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn">클레임 처리</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn">부재중 문자전송</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn">처리불가 문자전송</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding:8px 0 0 0; border-top:none; border-bottom:1px solid #fff">
                                    <ul class="btn_list v2 ac">
                                        <li>
                                            <a href="#" class="btn btn_confirm btn_m btn_round00">수정</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn_confirm btn_m btn_round00">복사</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn_confirm btn_m btn_round00">삭제</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn_confirm btn_m btn_round00">닫기</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>