<!doctype html>
<html lang="ko">
    <head>
        <title>상품이미지 검색</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/css/contents_jh.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2 class="h3">상품이미지 검색</h2>
                    <span class="option_area">
                        <div class="option_sort">
                            <input type="text" value="" name="" />
                            <a href="#" class="btn btn_m btn_search">검색<span class="ico ico_srch"></span></a>
                        </div>
                    </span>
                </div>

                <div class="product_image_list mt20 clear">
                    <ul>
                        <li class="basic_box">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                        <li class="basic_box mt10 ml10">
                            <h3 class="ac">근조 3단</h3>
                            <img src="/img/common/logo.png" class="mt10" />
                            <div class="btn_area ac mt10">
                                <a href="#" class="btn btn_xs btn_cancel layerOpen" id="photoEdit">수정</a>
                                <a href="#" class="btn btn_xs btn_cancel">삭제</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="paging mt20">
                    <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                    <a href="#" class="btn" title="이전 페이지">&lt;</a>
                    <ol>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ol>
                    <a href="#" class="btn" title="다음 페이지">&gt;</a>
                    <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                </div>

                <div class="btn_area ar mt20">
                    <a href="#" id="photoUpload" class="btn btn_confirm btn_m layerOpen">상품이미지 등록</a>
                    <a href="javascript:window.close();" class="btn btn_cancel btn_m">닫기</a>
                </div>

                <!-- 상품이미지 수정 레이어팝업 -->
                <div class="layer upload_photo" id="photoEditLayer">
                    <div class="overlay"></div>
                    <div class="layer_pop pt40 pr20 pb05 pl20" style="margin:-117.5px 0 0 -230px; width:460px; height:235px">
                        <div class="inner">
                            <div class="tit">
                                <h2 class="">상품이미지 수정</h2>
                            </div>
                            <table summary="상품이미지 수정" class="input_table mt25">
                                <caption>상품이미지 수정</caption>
                                <colgroup>
                                    <col width="30%"/>
                                    <col width="*"/>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="col">상품이미지 제목</th>
                                        <td>
                                            <input type="text" value="" name="" class="w_100" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col">파일첨부</th>
                                        <td>
                                            <input type="text" value="" name="" style="width:181px" />
                                            <label for="file_select" class="btn btn_blue btn_sm w70 ml05">파일선택</label>
                                            <input type="file" value="" name="" id="file_select" class="file_select" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn_area ar mt20">
                                <a href="#" class="btn btn_confirm btn_m w110">등록</a>
                                <a href="#" class="btn btn_cancel btn_m close w110">닫기</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /layer -->
                    <!-- /상품이미지 수정 레이어팝업 -->
                    
                <!-- 상품이미지 등록 레이어팝업 -->
                <div class="layer upload_photo" id="photoUploadLayer">
                    <div class="overlay"></div>
                    <div class="layer_pop pt pr20 pb05 pl20" style="margin:-117.5px 0 0 -230px; width:460px; height:235px">
                        <div class="inner">
                            <div class="tit">
                                <h2 class="">상품이미지 등록</h2>
                            </div>
                            <table summary="상품이미지 등록" class="input_table mt25">
                                <caption>상품이미지 등록</caption>
                                <colgroup>
                                    <col width="30%"/>
                                    <col width="*"/>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="col">상품이미지 제목</th>
                                        <td>
                                            <input type="text" value="" name="" class="w_100" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col">파일첨부</th>
                                        <td>
                                            <input type="text" value="" name="" style="width:181px" />
                                            <label for="file_select" class="btn btn_blue btn_sm w70 ml05">파일선택</label>
                                            <input type="file" value="" name="" id="file_select" class="file_select" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn_area ar mt20">
                                <a href="#" class="btn btn_confirm btn_m w110">등록</a>
                                <a href="#" class="btn btn_cancel btn_m close w110">닫기</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /layer -->
                        <!-- /상품이미지등록 레이어팝업 -->
            </div>
        </div>
    </body>
</html>
