<!doctype html>
<html lang="ko">
    <head>
        <title>해당 주문정보</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit mb10">
                    <h2 class="h3">해당 주문정보</h2>
                </div>

                <div class="rela_orderBox">
                    <table class="list_table" summary="해당 주문정보, 발주화원, 수주화원, 상품명, 결제금액, 원청금액, 수량, 받는분정보, 배송일자, 배송지 , 경조사어, 보내는분, 카드메세지, 요구사항">
                        <caption>해당 주문정보</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="20%"/>
                            <col width="20%"/>
                            <col width="20%"/>
                            <col width="10%"/>
                            <col width="*"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">발주화원</th>
                                <td colspan="5">
                                    <span>[부산 사상구]</span>
                                    <span>홍길동플라워</span>
                                    <span>김철수</span>
                                    <span>010-1111-1111</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">수주화원</th>
                                <td colspan="5">
                                    <span>[부산 사상구]</span>
                                    <span>홍길동플라워</span>
                                    <span>김철수</span>
                                    <span>010-1111-1111</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">상품명</th>
                                <td colspan="5">축하3단 - 축하3단 화환</td>
                            </tr>
                            <tr>
                                <th scope="col">결제금액</th>
                                <td class="ac">10,000</td>
                                <th scope="col">원청금액</th>
                                <td class="ac">10,000</td>
                                <th scope="col">수량</th>
                                <td class="ac">1</td>
                            </tr>
                            <tr>
                                <th scope="col">받는분정보</th>
                                <td colspan="5">홍길동 / 02-1111-2222 / 010-1111-1111</td>
                            </tr>
                            <tr>
                                <th scope="col">배송일자</th>
                                <td colspan="5">2018-10-11(월요일) 지금즉시배송</td>
                            </tr>
                            <tr>
                                <th scope="col">배송지</th>
                                <td colspan="5">서울시 구로구 구로동 11111</td>
                            </tr>
                            <tr>
                                <th scope="col">경조사어</th>
                                <td colspan="5">축발전</td>
                            </tr>
                            <tr>
                                <th scope="col">보내는분</th>
                                <td colspan="5">홍길동</td>
                            </tr>
                            <tr>
                                <th scope="col">카드메세지</th>
                                <td colspan="5">
                                    <textarea>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque voluptatibus ipsam doloribus, quos vitae explicabo veniam atque praesentium optio mollitia illum, quo velit, alias neque. Perspiciatis totam et voluptate dolorem?</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">요구사항</th>
                                <td colspan="5">
                                    <textarea>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iusto nam saepe? Molestias quas perferendis exercitationem omnis expedita totam odio? Ex harum, dolor fuga quo vel incidunt quia labore reiciendis.</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn_area mt20 ar">
                        <a href="javascript:window.close();" class="btn btn_confirm btn_m w100">닫기</a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>