<!doctype html>
<html lang="ko">
    <head>
        <title>배송가능지역 상품설정</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>        
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2>배송가능지역 상품설정</h2>
                </div>
                <div class="option_area">
                    <div class="option_srh">
                        <select class="select" title="배송가능지역 설정">
                            <option value="전체">전체</option>
                            <option value="강원">강원</option>
                            <option value="경기">경기</option>
                            <option value="경남">경남</option>
                            <option value="경북">경북</option>
                            <option value="광주">광주</option>
                            <option value="대구">대구</option>
                            <option value="대전">대전</option>
                            <option value="부산">부산</option>
                            <option value="서울">서울</option>
                            <option value="울산">울산</option>
                            <option value="인천">인천</option>
                            <option value="전남">전남</option>
                            <option value="전북">전북</option>
                            <option value="제주">제주</option>
                            <option value="충남">충남</option>
                            <option value="충북">충북</option>
                            <option value="세종">세종</option>
                        </select>
                        <a href="#" class="btn btn_search">검색<span class="ico ico_srch"></span></a>
                    </div>
                    <div class="option_sort">
                        <span>선택된 지역의 &nbsp;</span>
                        <select class="select" title="상품종류">
                            <option value="축하">축하</option>
                            <option value="근조">근조</option>
                            <option value="동양란">동양란</option>
                            <option value="서양란">서양란</option>
                            <option value="관엽">관엽</option>
                            <option value="꽃">꽃</option>
                            <option value="쌀화환">쌀화환</option>
                        </select>
                        <span>를 &nbsp;</span>
                        <select class="select" title="취급상태">
                            <option value="미취급">미취급</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                            <option value="60">60</option>
                            <option value="65">65</option>
                            <option value="70">70</option>
                            <option value="75">75</option>
                            <option value="80">80</option>
                        </select>
                        <span>으로 &nbsp;</span>
                        <a href="#" class="btn_change">일괄변경</a>
                    </div>
                </div>
                <div class="shipping_option">
                    <div class="mapsearch">
                        <h3>지도로 검색</h3>
                        <div class="map_api">지도 api</div>
                    </div>
                    <table summary="배송가능지역 상품설정" class="input_table text_center">
                        <caption>배송가능지역 상품설정</caption>
                        <colgroup>
                            <col width="4%"/>
                            <col width="19%"/>
                            <col span="7" width="*"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="row"><input type="checkbox" name="" value="" /></th>
                                <th scope="row" class="text_left">지역명 (인근)</th>
                                <th scope="row">축하</th>
                                <th scope="row">근조</th>
                                <th scope="row">동양란</th>
                                <th scope="row">서양란</th>
                                <th scope="row">관엽</th>
                                <th scope="row">꽃</th>
                                <th scope="row">쌀화환</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" value="" /></td>
                                <td class="text_left">서울 강남구</td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="select" title="취급상태">
                                        <option value="미취급">미취급</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="60">60</option>
                                        <option value="65">65</option>
                                        <option value="70">70</option>
                                        <option value="75">75</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn_area text_center mt45">
                    <a href="#" class="btn btn_confirm btn_ml btn_round15">저장</a>
                    <a href="javascript:window.close();" class="ml15 btn btn_cancel btn_ml  btn_round15">닫기</a>
                </div>
            </div>
        </div>
    </body>
</html>