			<h1 class="logo">
				<a href="http://flowercenter.roseweb.co.kr/">
					<img src="/img/common/logo.png" alt="전국플라워센터" />
				</a>
            </h1>
            <ul class="unb">
                <li><a href="/application/main/views/main.html" target="_self"><span class="ico ico_home"></span>HOME</a></li>
                <li><a href="http://flasystem.com/" target="_blank"><strong>본부홈페이지</strong></a></li>
                <li><a href="javascript:alert('ctrl + d키를 누르시면 즐겨찾기에 추가하실 수 있습니다.')"><span class="ico ico_favorite"></span>즐겨찾기</a></li>
            </ul>
            <div class="tel">
                <dl>
                    <dt>TEL.</dt>
                    <dd>1544-6487</dd>
                    <dt>FAX.</dt>
                    <dd>070-8224-6861</dd>
                </dl>
            </div>
            <div class="user_info">
                <div>
                    <p><strong>전국플라워센터</strong>님 안녕하세요.</p>
                    <p class="login_time">
                        이전로그인
                        <span>2018-04-23</span>
                        <span>13:00:00</span>
                    </p>
                </div>
                <div class="adnim_btn">
                    <a class="btn" href="javascript:void(0)" onclick="loginList(); return false;" >로그인이력</a>
                    <a href="/application/sms/views/" class="btn">SMS</a>
                </div>
            </div>

            <div class="mng_btn">
                <a href="/application/member/views/modify.html"><strong>회원정보</strong></a>
                <a href="#">로그아웃</a>
            </div>