			<h1 class="logo">
				<a href="http://flowercenter.roseweb.co.kr/">
					<img src="/img/common/logo.png" alt="전국플라워센터" />
				</a>
            </h1>
            <ul class="unb">
                <li><a href="http://flowercenter.roseweb.co.kr" target="_self">home</a></li>
                <li><a href="http://flasystem.com/" target="_blank">본부홈페이지</a></li>
                <li><a href="javascript:alert('ctrl + d키를 누르시면 즐겨찾기에 추가하실 수 있습니다.')">즐겨찾기</a></li>
            </ul>
            <div class="tel">
                <dl>
                    <dt>TEL</dt>
                    <dd>1544-6487</dd>
                    <dt>FAX</dt>
                    <dd>070-8224-6861</dd>
                </dl>
            </div>
            <div class="user_info">
                <div>
                    <strong>전국플라워센터</strong>님 안녕하세요.
                    <span class="login_time">이전 로그인 2018-04-23 13:00:00</span>
                    <a class="btn" href="javascript:window.open('/application/popup/loginList.html','loginList','width=500, height=500, top=100, left=540')">로그인이력</a>
                    <a href="#" class="btn">SMS</a>
                </div>
                <div class="right">
                    <a href="#">회원정보</a>
                    <a href="#">로그아웃</a>
                </div>
            </div>