                <!-- 나의 메뉴 -->
                <div class="my_menu">
                    <h2>나의 메뉴</h2>
                    <ul>
                        <li>미확인건 <a href="#"><span>0</span>건</a></li>
                        <li>미배송건 <a href="#"><span>0</span>건</a></li>
                        <li>배송사진 미등록건 <a href="#"><span>0</span>건</a></li>
                        <li>받은쪽지 <a href="/application/msgMng/views/receiveMsgList.html"><span>1</span>건</a></li>
                    </ul>
                </div>
                <!-- /나의 메뉴 -->

                <!-- 관리자 수발주 -->
                <div>
                    <h2>관리자 수발주</h2>
                    <ul>
                        <li class="on"><a href="#">협회전체 수발주</a></li>
                        <li><a href="#">본부중계창</a></li>
                        <li><a href="#">취소주문리스트</a></li>
                        <li><a href="#">직접발주리스트</a></li>
                        <li><a href="#">미확인리스트</a></li>
                        <li><a href="#">클레임리스트</a></li>
                        <li><a href="#">주문거절리스트</a></li>
                        <li><a href="#">배송사진 미등록 리스트</a></li>
                        <li><a href="#">지정주문건통계</a></li>
                        <li><a href="#">취약지역발주통계</a></li>
                        <li><a href="#">전국파트너사업자발주통계</a></li>
                        <li><a href="#">본부발주물량통계</a></li>
                        <li><a href="#">꽃사기타주문통계</a></li>
                        <li><a href="#">입출금처리</a></li>
                        <li><a href="#">회원검색</a></li>
                        <li><a href="#">로그인이력</a></li>
                    </ul>
                </div>
                <!-- /관리자 수발주 -->

                <!-- 관리자 메뉴 -->
                <div>
                        <h2>관리자 메뉴</h2>
                        <ul>
                            <li><a href="#">입금관리</a></li>
                            <li><a href="#">정산관리</a></li>
                            <li><a href="#">회원관리</a></li>
                            <li><a href="#">회원가입신청</a></li>
                            <li><a href="#">디카벌금내역</a></li>
                            <li><a href="#">계산서발행</a></li>
                            <li><a href="#">계산서발행2</a></li>
                            <li><a href="#">계산서신고</a></li>
                            <li><a href="#">예치금내역</a></li>
                            <li><a href="#">당일최고발주액</a></li>
                            <li><a href="#">전체수발주순위</a></li>
                            <li><a href="#">환경설정</a></li>
                            <li><a href="#">메뉴관리</a></li>
                            <li><a href="#">옵션상품관리</a></li>
                            <li><a href="#">지역별/상품별 통계</a></li>
                            <li><a href="#">로그인관리</a></li>
                            <li><a href="#">팝업관리</a></li>
                            <li><a href="#">회원약관 동의여부</a></li>
                            <li><a href="#">입출금처리팝업</a></li>
                        </ul>
                    </div>
                    <!-- /관리자 메뉴 -->

                    <!-- 수발주 메뉴 -->
                    <div>
                        <h2>수발주메뉴</h2>
                        <ul>
                            <li><a href="#">본부발주</a></li>
                            <li><a href="#">회원간발주</a></li>
                            <li><a href="#">지난주문입력</a></li>
                            <li><a href="#">전체발주리스트</a></li>
                            <li><a href="#">전체수주리스트</a></li>
                            <li><a href="#">주문미확인리스트</a></li>
                            <li><a href="#">디카벌금내역</a></li>
                            <li><a href="#">수발주일정표</a></li>
                        </ul>
                    </div>
                    <!-- /수발주 메뉴 -->

                    <!-- 수발주 메뉴 -->
                    <div>
                        <h2>수발주메뉴</h2>
                        <ul>
                            <li><a href="#">본부발주</a></li>
                            <li><a href="#">회원간발주</a></li>
                            <li><a href="#">지난주문입력</a></li>
                            <li><a href="#">전체발주리스트</a></li>
                            <li><a href="#">전체수주리스트</a></li>
                            <li><a href="#">주문미확인리스트</a></li>
                            <li><a href="#">디카벌금내역</a></li>
                            <li><a href="#">수발주일정표</a></li>
                        </ul>
                    </div>
                    <!-- /수발주 메뉴 -->