<!doctype html>
<html lang="en">
<head>
<title>전국플라워센터 - template</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="Flower, flasystem, '플라시스템'">
<meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
<meta property="og:title" content="전국플라워센터">
<meta property="og:url" content="https://www.flowercenter.co.kr/">
<link rel="stylesheet" type="text/css" href="/css/common.css" /> <!-- 공통으로 사용하는 CSS -->
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> 로그인 화면에서만 사용하는 CSS -->
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script> <!-- datepicker -->
<script type="text/javascript">
    // 레이아웃 가져올때만 사용(개발자에게 전달시 제거 후 전달)
    $(document).ready(function(){
        $('#header').load('/application/views/header.html');
        $('.gnb').load('/application/views/gnb.html');
        $('.lnb').load('/application/views/lnb.html');
        $('#footer').load('/application/views/footer.html');
    })

	//layer popup
	$(document).ready(function(){	

		$('.layerOpen').click(function(){
			var layerNm = $(this).attr('data');
			$('#'+layerNm).fadeIn();
		})
		
		$('.layer .close, .layer_bg').click(function(){
			$('.layer').fadeOut();
		})
		
	})

    function loginList() {
        window.open('/application/popup/loginList.html','loginList','width=500, height=500, top=100, left=540, scrollbars=yes');
    }
</script>
</head>
<body>
	<div id="wrap">
		<header id="header">
        </header><!-- /header -->

        <hr />
        
        <nav class="gnb">
        </nav><!-- /gnb -->

        <hr />
        
		<div id="container">
            <div class="lnb">
            </div>

            <div id="content">
                컨텐츠 내용 삽입
                
            </div>
		</div><!-- /container -->

		<hr />

		<footer id="footer">
		</footer>
	</div>
</body>
</html>
