<!doctype html>
<html lang="ko">
<head>
    <title>전국플라워센터 - template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
    <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
    <meta property="og:title" content="전국플라워센터">
    <meta property="og:url" content="https://www.flowercenter.co.kr/">
    <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> 로그인 화면에서만 사용 -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/popup.css" /> 팝업 화면에서만 사용 -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>

<div id="wrap">
    <header id="header">
        <h1 class="logo">
            <a href="http://flowercenter.roseweb.co.kr/">
                <img src="/img/common/logo.png" alt="전국플라워센터" />
            </a>
        </h1>
        <ul class="unb">
            <li><a href="/application/main/views/main.html" target="_self"><span class="ico ico_home"></span>HOME</a></li>
            <li><a href="http://flasystem.com/" target="_blank"><strong>본부홈페이지</strong></a></li>
            <li><a href="javascript:alert('ctrl + d키를 누르시면 즐겨찾기에 추가하실 수 있습니다.')"><span class="ico ico_favorite"></span>즐겨찾기</a></li>
        </ul>
        <div class="tel">
            <dl>
                <dt>TEL.</dt>
                <dd>1544-6487</dd>
                <dt>FAX.</dt>
                <dd>070-8224-6861</dd>
            </dl>
        </div>
        <div class="user_info">
            <div>
                <p><strong>전국플라워센터</strong>님 안녕하세요.</p>
                <p class="login_time">
                    이전로그인
                    <span>2018-04-23</span>
                    <span>13:00:00</span>
                </p>
            </div>
            <div class="adnim_btn">
                <a class="btn" href="javascript:void(0)" onclick="window.open('/application/popup/views/loginHistory.html', 'loginList', 'width=725, height=600, top=50, left=50, scrollbars=yes');" >로그인이력</a>
                <a href="/application/sms/views/" class="btn">SMS</a>
            </div>
        </div>

        <div class="mng_btn">
            <a href="/application/member/views/modify.html"><strong>회원정보</strong></a>
            <a href="#">로그아웃</a>
        </div>
    </header>
    <!-- /header -->

    <hr/>

    <nav class="gnb">
        <ul>
            <li><a href="#">본부발주</a></li>
            <li><a href="#">화원간직발주</a></li>
            <li><a href="#">수주리스트</a></li>
            <li><a href="#">발주리스트</a></li>
            <li><a href="#">배송사진리스트</a></li>
            <li><a href="#">정산내역</a></li>
            <li><a href="#">플라트상품</a></li>
        </ul>
    </nav>
    <!-- /gnb -->

    <hr/>

    <div id="container">
        <div class="lnb">
            <!-- 나의 메뉴 -->
            <div class="my_menu">
                <h2>나의 메뉴</h2>
                <ul>
                    <li>미확인건 <a href="#"><span>0</span>건</a></li>
                    <li>미배송건 <a href="#"><span>0</span>건</a></li>
                    <li>배송사진 미등록건 <a href="#"><span>0</span>건</a></li>
                    <li>받은쪽지 <a href="#"><span>0</span>건</a></li>
                </ul>
            </div>
            <!-- /나의 메뉴 -->

            <!-- 관리자 수발주 -->
            <div>
                <h2>관리자 수발주</h2>
                <ul>
                    <li class="on"><a href="#">협회전체 수발주</a></li>
                    <li><a href="#">본부중계창</a></li>
                    <li><a href="#">취소주문리스트</a></li>
                    <li><a href="#">직접발주리스트</a></li>
                    <li><a href="#">미확인리스트</a></li>
                    <li><a href="#">클레임리스트</a></li>
                    <li><a href="#">주문거절리스트</a></li>
                    <li><a href="#">배송사진 미등록 리스트</a></li>
                    <li><a href="#">지정주문건통계</a></li>
                    <li><a href="#">취약지역발주통계</a></li>
                    <li><a href="#">전국파트너사업자발주통계</a></li>
                    <li><a href="#">본부발주물량통계</a></li>
                    <li><a href="#">꽃사기타주문통계</a></li>
                    <li><a href="#">입출금처리</a></li>
                    <li><a href="#">회원검색</a></li>
                    <li><a href="#">로그인이력</a></li>
                </ul>
            </div>
            <!-- /관리자 수발주 -->

            <!-- 관리자 메뉴 -->
            <div>
                    <h2>관리자 메뉴</h2>
                    <ul>
                        <li><a href="#">입금관리</a></li>
                        <li><a href="#">정산관리</a></li>
                        <li><a href="#">회원관리</a></li>
                        <li><a href="#">회원가입신청</a></li>
                        <li><a href="#">디카벌금내역</a></li>
                        <li><a href="#">계산서발행</a></li>
                        <li><a href="#">계산서발행2</a></li>
                        <li><a href="#">계산서신고</a></li>
                        <li><a href="#">예치금내역</a></li>
                        <li><a href="#">당일최고발주액</a></li>
                        <li><a href="#">전체수발주순위</a></li>
                        <li><a href="#">환경설정</a></li>
                        <li><a href="#">메뉴관리</a></li>
                        <li><a href="#">옵션상품관리</a></li>
                        <li><a href="#">지역별/상품별 통계</a></li>
                        <li><a href="#">로그인관리</a></li>
                        <li><a href="#">팝업관리</a></li>
                        <li><a href="#">회원약관 동의여부</a></li>
                        <li><a href="#">입출금처리팝업</a></li>
                    </ul>
                </div>
                <!-- /관리자 메뉴 -->

                <!-- 수발주 메뉴 -->
                <div>
                    <h2>수발주메뉴</h2>
                    <ul>
                        <li><a href="#">본부발주</a></li>
                        <li><a href="#">회원간발주</a></li>
                        <li><a href="#">지난주문입력</a></li>
                        <li><a href="#">전체발주리스트</a></li>
                        <li><a href="#">전체수주리스트</a></li>
                        <li><a href="#">주문미확인리스트</a></li>
                        <li><a href="#">디카벌금내역</a></li>
                        <li><a href="#">수발주일정표</a></li>
                    </ul>
                </div>
                <!-- /수발주 메뉴 -->

                <!-- 수발주 메뉴 -->
                <div>
                    <h2>수발주메뉴</h2>
                    <ul>
                        <li><a href="#">본부발주</a></li>
                        <li><a href="#">회원간발주</a></li>
                        <li><a href="#">지난주문입력</a></li>
                        <li><a href="#">전체발주리스트</a></li>
                        <li><a href="#">전체수주리스트</a></li>
                        <li><a href="#">주문미확인리스트</a></li>
                        <li><a href="#">디카벌금내역</a></li>
                        <li><a href="#">수발주일정표</a></li>
                    </ul>
                </div>
                <!-- /수발주 메뉴 -->
        </div>

        <div id="content">
            <h3 class="con_tit">SMS 관리</h3>

            <div class="option_area mt10" style="width:1520px">
                <div class="option_srh">
                    <label><input type="radio" name="" value="" /> 주문일</label>
                    <label><input type="radio" name="" value="" /> 배송일</label>                     
                    <span class="calendar">
                        <span class="ico"></span>
                        <input type="text" class="datepicker" title="시작일자" />
                    </span> ~
                    <span class="calendar">
                        <span class="ico"></span>
                        <input type="text" class="datepicker" title="종료일자" />
                    </span>
                    <span class="btn_area month">
                        <button href="#" class="btn btn_m btn_cancel">4월</button>
                        <button href="#" class="btn btn_m btn_cancel">4월</button>
                        <button href="#" class="btn btn_m btn_blue">6월</button>
                        <button href="#" class="btn btn_m btn_cancel">7월</button>
                    </span>
                </div>

                <div class="option_sort">
                    <select title="배송상태" class="select">
                        <option value="">배송상태선택</option>
                        <option value="">미확인</option>
                        <option value="">미확인(본부화원사)</option>
                        <option value="">본부확인</option>
                        <option value="">주문접수</option>
                        <option value="">배송완료</option>
                    </select>
                    <select title="검색범위" class="select ml10">
                        <option value="">발주화원명</option>
                        <option value="">수주화원명</option>
                        <option value="">주문자</option>
                        <option value="">받는분</option>
                        <option value="">배달장소</option>
                        <option value="">보내는분</option>
                        <option value="">인수자명</option>
                        <option value="">주문번호</option>
                        <option value="">상품명</option>
                        <option value="">상품코드</option>
                        <option value="">중계담당자</option>
                        <option value="">주문자연락처</option>
                        <option value="">받는분연락처</option>
                        <option value="">지정화원사</option>
                        <option value="">주문작성자</option>
                        <option value="">발주아이디</option>
                        <option value="">수주아이디</option>
                    </select>
                    <input type="text" name="" value="" title="검색 키워드" placeholder="검색 키워드" class="ml10" />
                    <a href="#" class="btn btn_m btn_search">검색<span class="ico ico_srch"></span></a>
                </div>
            </div><!-- option_area -->

            <hr class="hr" /> <!-- 라인 효과-->

            <div style="width:1520px">
                
                <table class="list_table bg_blue mt10" style="width:1248px">
                    <caption>건수별 정보</caption>
                    <colgroup>
                        <col width="156px" span="8" />
                        <col width="*"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">총주문건수 / 금액</th>
                            <th scope="row">주문결제건수 / 금액</th>
                            <th scope="row">미배송건수 / 금액</th>
                            <th scope="row">취소건수 / 금액</th>
                            <th scope="row">배송완료건수 / 금액</th>
                            <th scope="row">전일주문건수 / 금액</th>
                            <th scope="row">금일주문건수 / 금액</th>
                            <th scope="row">팩스 미전송 건수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

                <!-- 상세 테이블 -->
                <table class="list_table mt20">
                <caption> 상세 테이블</caption>
                <colgroup>
                    <col width="12%"/>
                    <col width="*"/>
                </colgroup>
                <tbody class="al">
                    <tr>
                        <th scope="col">전송건수 / 전송금액</th>
                        <td>2,000건 / 100,000원</td>
                    </tr>
                    <tr>
                        <th scope="col">전송건수 / 전송금액</th>
                        <td>2,000건 / 100,000원</td>
                    </tr>
                    <tr>
                        <th scope="col">전송건수<br /> / 전송금액</th>
                        <td>2,000건 / 100,000원</td>
                    </tr>
                    <tr>
                        <th scope="col">전송건수 / 전송금액</th>
                        <td>2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원2,000건 / 100,000원</td>
                    </tr>
                </tbody>
                </table>
                <!-- //상세 테이블 -->

                <div class="option_area v2" style="margin:8px 44px 10px 0">
                    <div class="option_srh">
                        10월 총 전송 건수 : <span>1,000</span>건
                    </div>
                    <div class="option_sort">
                        <select title="연도" class="select">
                            <option value="">2018</option>
                            <option value="">2018</option>
                            <option value="">2018</option>
                        </select> 년
                        <select title="월" class="select ml10">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select> 월
                        <input type="text" name="" value="" title="검색 키워드" placeholder="검색 키워드" class="ml10" />
                        <a href="#" class="btn btn_sm btn_search">검색<span class="ico ico_srch"></span></a>
                    </div>
                </div>
                <!-- 목록 테이블 -->
                <table class="list_table">
                    <caption>목록 테이블</caption>
                    <colgroup>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="*"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">NO</th>
                            <th scope="row">구분</th>
                            <th scope="row"><input type="checkbox" name="" value="" title="전체선택" /></th>
                            <th scope="row" class="al pl40">메시지 내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>test</td>
                            <td><input type="checkbox" name="" value="" title="선택" /></td>
                            <td class="al pl40">본인께서 받으셨습니다. - 전국플라워센터</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>test</td>
                            <td><input type="checkbox" name="" value="" title="선택" /></td>
                            <td class="al pl40">본인께서 받으셨습니다. - 전국플라워센터</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>test</td>
                            <td><input type="checkbox" name="" value="" title="선택" /></td>
                            <td class="al pl40">
                                <ul class="tag_list">
                                    <li><span class="ico_store">디카</span></li>
                                    <li><span class="ico_store">휴일배송</span></li>
                                    <li><span class="ico_store">야간배송</span></li>
                                    <li><span class="ico_store">무발주</span></li>
                                    <li><span class="ico_store">클레임 예치금</span></li>
                                    <li><span class="ico_store">물량</span></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- //목록 테이블 -->

                <!-- 페이징 -->
                <div class="paging mt20">
                    <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                    <a href="#" class="btn" title="이전 페이지">&lt;</a>
                    <ol>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ol>
                    <a href="#" class="btn" title="다음 페이지">&gt;</a>
                    <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                </div>
                <!-- //페이징 -->
                
                <!-- 탭메뉴 -->
                <ul class="tab_menu mt20">
                    <li class="active"><a href="#">문자보내기</a></li>
                    <li><a href="#">보낸 메세지함</a></li>
                    <li><a href="#">예약 메세지함</a></li>
                    <li><a href="#">화원별 전체내역</a></li>
                </ul>
                <!-- /탭메뉴 -->

                <!-- 문자전송 폼 -->
                <div class="sms_send fl basic_box mt20">
                    <div class="dark_box">
                        <textarea class="screen" row="10" cols="50">
                            본인께서 받으셨습니다. -전국플라워센터
                        </textarea>
                        <p class="byte mt15"><strong>0</strong> / 2,000 byte</p>
                    </div>

                    <div class="dark_box mt10">
                        <div class="sms_info">
                            <h4>받는 사람</h4>
                            <ul>
                                <li>
                                    <label><input type="radio" name="" value="" checked="checked" /> 선택</label>
                                    <div class="fr">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/memberSearch.html', 'memberSearch', 'width=1220, height=910, top=50, left=300, scrollbars=yes')">회원검색</a>
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/addressBook.html', 'addressBook', 'width=600, height=580, top=50, left=300, scrollbars=yes')">주소록</a>
                                        <!-- 최근 발신 번호 -->
                                        <div class="layer_over" id="recentNumber" tabindex="0">
                                            <span class="btn btn_blue btn_s">최근발신</span>
                                            <div class="layerOver" id="recentNumberLayer" style="left:23px; top:19px">
                                                <h5 class="layer_tit">최근 발신 번호</h5>
                                                <ol class="recent_num">
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div><!-- /layerOver -->
                                        <!-- /최근 발신 번호 -->
                                    </div>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 화원전체</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="dark_box mt10 scroll_y" style="height:166px">
                        <!-- 선택을 선택할 경우 -->
                        <ul class="num_list">
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                        </ul>
                        <!-- 화원전체를 선택할 경우 input disabled="disabled"
                        <ul class="num_list">
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                        </ul> -->
                    </div>

                    <div class="dark_box mt10">
                        <div class="sms_info scroll_y" style="height:95px">
                            <h4>보내는 사람</h4>
                            <ul>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01012345678 </label>
                                    <span>인증완료</span>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01023456789</label>
                                    <span class="text_point">미인증</span>
                                    <div class="btn_area">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/callCertification.html', 'callCertification', 'width=600, height=540, top=50, left=300, scrollbars=yes')">발신번호인증</a>
                                    </div>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01023456789</label>
                                    <span class="text_point">미인증</span>
                                    <div class="btn_area">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/callCertification.html', 'callCertification', 'width=600, height=540, top=50, left=300, scrollbars=yes')">발신번호인증</a>
                                    </div>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01023456789</label>
                                    <span class="text_point">미인증</span>
                                    <div class="btn_area">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/callCertification.html', 'callCertification', 'width=600, height=540, top=50, left=300, scrollbars=yes')">발신번호인증</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn_area mt10 clear">
                        <a href="#" id="reservationSend" class="btn btn_cancel btn_m fl layerOpen">예약전송</a>
                        <a href="#" class="btn btn_confirm btn_m fr bold">보내기</a>
                    </div>
                </div><!-- /sms_send -->
                <!-- /문자전송 폼 -->

                <div class="btn_area pl10 mt20">
                    <a class="btn btn_xs btn_basic btn_round00">최근입금내역</a>
                    <a href="#" class="btn btn_xs btn_cancel btn_round00">입금내역</a>
                </div>

                <div class="btn_area mt20  pl10">
                    <a href="#" class="btn btn_blue btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_basic btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_cancel btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_confirm btn_s">발신번호인증</a>
                </div>

                <div class="btn_area mt20  pl10">
                    <a href="#" class="btn btn_confirm btn_sm">확인</a>
                    <a href="#" class="ml15 btn btn_confirm btn_sm">저장<span class="ico ico_save"></span></a>
                    <a href="#" class="ml15 btn btn_cancel btn_sm">취소</a>
                    <a href="#" class="ml15 btn btn_cancel btn_sm">삭제<span class="ico ico_del"></span></a>
                    <a href="#" class="ml15 btn btn_basic btn_sm">메세지 추가</a>
                    <a href="#" class="ml15 btn btn_basic btn_sm">저장<span class="ico ico_save"></span></a>
                </div>

                <div class="btn_area mt20  pl10">
                    <a href="#" class="btn btn_confirm btn_m">확인</a>
                    <a href="#" class="ml15 btn btn_confirm btn_m">저장<span class="ico ico_save"></span></a>
                    <a href="#" class="ml15 btn btn_cancel btn_m">취소</a>
                    <a href="#" class="ml15 btn btn_cancel btn_m">삭제<span class="ico ico_del"></span></a>
                    <a href="#" class="ml15 btn btn_basic btn_m">메세지 추가</a>
                    <a href="#" class="ml15 btn btn_basic btn_m">저장<span class="ico ico_save"></span></a>
                </div>

                <div class="btn_area mt20  pl10">
                    <a href="#" class="btn btn_confirm btn_ml">저장</a>
                    <a href="#" class="ml15 btn btn_cancel btn_ml">저장</a>
                    <a href="#" class="ml15 btn btn_basic btn_ml">저장</a>
                </div>

                <div class="btn_area mt20  pl10">
                    <a href="#" class="btn btn_confirm btn_l">저장</a>
                    <a href="#" class="ml15 btn btn_cancel btn_l">저장</a>
                    <a href="#" class="ml15 btn btn_basic btn_l">저장</a>
                </div>
                
                <!-- 레이어 팝업 -->
                <div class="btn_area mt10  pl10">
                    <a href="javascript:void(0)" onclick="window.open('popupURL.html','popupName','width=1300, height=590, top=100, left=540')" class="btn btn_basic btn_m">새창팝업</a>
                    <a href="javascript:void(0);" class="btn btn_basic btn_m layerOpen" id="layerName">레이어팝업</a><!-- 레이어 팝업: class="layerOpen" id="레이어팝업 이름" -->
                    <a href="#" class="btn btn_basic btn_m">엑셀 다운로드</a>
                </div>
                <div class="layer" id="layerNameLayer"><!-- 레이어 팝업 띄우는 id + Layer -->
                    <div class="overlay"></div>
                    <div class="layer_pop" style="margin:-155px 0 0 -250px; width:500px; height:310px">
                        <div class="inner">
                            <h4 class="layer_tit">메세지등록</h4>
                            <form name="" action="" method="">
                            <fieldset>
                                <legend>메세지 등록</legend>
                                <div class="basic_box pb00 pl10 pr10">
                                    <textarea cols="100" rows="6" style="width:100%; height:110px" class="block" title="메세지 입력"></textarea>
                                    <p class="byte">
                                        <strong>0</strong>/ 2,000 byte
                                    </p>
                                </div>
                                <div class="btn_area ac mt30">
                                    <a href="#" class="btn btn_confirm btn_m">등록</a>
                                    <a href="#" class="btn btn_cancel btn_m ml05 close">닫기</a>
                                </div>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div><!-- /layer -->
                <!-- /레이어 팝업 -->

                <!-- 마우스 오버 시 레이어 -->
                <div class="layer_over block mt20" id="qwer">
                    <span class="btn btn_blue btn_m">마우스오버 레이어</span>
                    <div class="layerOver" id="qwerLayer">
                        <h4 class="layer_tit">마우스 오버 레이어</h4>
                        <ol>
                            <li>
                                <a href="#">010-1234-5678</a>
                            </li>
                        </ol>
                    </div>
                </div><!-- /layerOver -->
                <!-- /마우스 오버 시 레이어 -->

                <div class="mb10 clear"></div>

                <select title="필수" class="ship_select">
                    <option class="no_check">미확인</option>
                    <option class="check">본부확인</option>
                    <option class="order">주문접수</option>
                    <option class="shipping">배송중</option>
                    <option class="delivery">배송완료</option>
                </select>
                <!-- //select box -->

                <select class="select">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>홍길동 플라워</option>
                </select>
                <!-- //select box -->

                <div class="date_pick mt10">
                    Date: 
                    <span class="calendar">
                        <span class="ico"></span>
                        <input type="text" class="datepicker"/>
                    </span>
                </div>
                <!-- //date_pick -->

                <!-- SUMMERNOTE
                <iframe src="/summernote/editor.html" width="900" height="600" scrolling="no"></iframe>-->
                <!-- //SUMMERNOTE -->
            </div>

            <footer id="footer">
                <dl class="bank">
                    <dt>본부 계좌번호 안내</dt>
                    <dd>농협   301-0139-5751-91 (주)플라시스템</dd>
                </dl>
                <div class="address">
                    <address>(주)플라시스템&nbsp; / 대표 김태진&nbsp; / TEL <a href="tel:1544-6487">1544-6487</a>&nbsp; / FAX 070-8224-6861&nbsp; / 부산광역시 사상구 모라로 22 부산벤처타워 1501호</address>
                    <p class="copyright">Copyright (주)플라시스템 ©  All rights reserved.</p>
                    <p class="copyright v2">* 본 사이트 내의 모든 자료와 내용은 저작권에 의해 보호되며 무단 사용을 금합니다.</p>
                </div>
            </footer>
            <!-- /footer -->

        </div><!-- /content -->
    </div><!-- /container -->
</div><!-- /wrap -->

<!-- 개발자 가이드 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.developStatus').load('/status/status01.html');
    })
</script>
<div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
<!-- //개발자 가이드 -->

</body>
</html>
