<!doctype html>
<html lang="ko">
<head>
<title>전국플라워센터 - 문자보내기 - 보낸 메세지함</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="Flower, flasystem, '플라시스템'">
<meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
<meta property="og:title" content="전국플라워센터">
<meta property="og:url" content="https://www.flowercenter.co.kr/">
<meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
<link rel="stylesheet" type="text/css" href="/css/common.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> 로그인 화면에서만 사용 -->
<!-- <link rel="stylesheet" type="text/css" href="/css/popup.css" /> 팝업 화면에서만 사용 -->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>        
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<script type="text/javascript">
    // 레이아웃용
    $(document).ready(function () {
        $('#header').load('/application/views/header.html');
        $('.gnb').load('/application/views/gnb.html');
        $('.lnb').load('/application/views/lnb.html');
        $('#footer').load('/application/views/footer.html');
    })
</script>
<div id="wrap">
    <header id="header"></header>
    <!-- /header -->

    <hr/>

    <nav class="gnb"></nav>
    <!-- /gnb -->

    <hr/>

    <div id="container">
        <div class="lnb"></div>

        <div id="content">
            <div class="sub">
                <h3 class="con_tit mb10">SMS 관리</h3>
                
                <!-- 탭메뉴 -->
                <ul class="tab_menu">
                    <li><a href="/application/smsMng/views/smsMngList.html">문자보내기</a></li>
                    <li class="active"><a href="/application/smsMng/views/sendSmsList.html">보낸 메세지함</a></li>
                    <li><a href="/application/smsMng/views/reservSmsList.html">예약 메세지함</a></li>
                    <li><a href="/application/smsMng/views/allSmsList.html">화원별 전체내역</a></li>
                </ul>
                <!-- /탭메뉴 -->

                <div style="width:1560px">
                    <div class="option_area v2 mt10">
                        <div class="option_srh">
                            10월 총 전송 건수 : <span>1,000</span>건
                        </div>
                        <div class="option_sort">
                            <select title="연도" class="select">
                                <option value="">2018</option>
                                <option value="">2018</option>
                                <option value="">2018</option>
                            </select> 년
                            <select title="월" class="select ml10">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select> 월
                            <input type="text" name="" value="" title="검색 키워드" placeholder="검색 키워드" class="ml10" />
                            <a href="#" class="btn btn_sm btn_search">검색<span class="ico ico_srch"></span></a>
                        </div>
                    </div>

                    <ul class="screen_list">
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워 가나다라마바사가나다라마바사가나다라마바사가나다라마바사가나다라마바사
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <!-- <span class="pr20">전송 성공 1</span> -->
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <!-- <span class="text_warning">전송실패 1</span> -->
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <!-- <span class="pr20">전송 성공 1</span> -->
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <!-- <span class="pr20">전송 성공 1</span> -->
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                        <li>
                            <input type="checkbox" name="" value="" title="선택" />
                            <div class="basic_box">
                                <pre class="screen scroll_y">
                                    본인께서 받으셨습니다. -전국플라워센터
                                </pre>
                                <p class="byte"><strong>0</strong> / 2,000 byte</p>
                            </div>
                            <dl>
                                <dt class="ir">전송여부</dt>
                                <dd class="sent_state">
                                    <span class="pr20">전송 성공 1</span>
                                    <span class="text_warning">전송실패 1</span>
                                </dd>
                                <dt>전송시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>수신시간</dt>
                                <dd>2018-10-04 15:00</dd>
                                <dt>받는사람</dt>
                                <dd>01012345678</dd>
                            </dl>
                        </li>
                    </ul>
                    
                    <div class="paging">
                        <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                        <a href="#" class="btn" title="이전 페이지">&lt;</a>
                        <ol>
                            <li><a href="#" class="active" title="현재페이지">1</a></li> <!-- 현재 페이지일 경우 class="active" -->
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                        </ol>
                        <a href="#" class="btn" title="다음 페이지">&gt;</a>
                        <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                    </div>

                    <div class="btn_area ar">
                        <a href="#" class="btn btn_basic btn_m">선택 삭제</a>
                        <a href="Javascript:void(0);" class="ml15 btn btn_basic btn_m layerOpen" id="messageAdd">메세지 추가</a>
                    </div>
                </div>
            </div><!-- /Sub Page -->
           
            <hr />

            <footer id="footer"></footer>
            <!-- /footer -->
        </div>

    </div>
    <!-- /container -->
</div>

<!-- 개발자 가이드 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.developStatus').load('/status/status01.html');
    })
</script>
<div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
<!-- //개발자 가이드 -->
    
</body>
</html>