<!doctype html>
<html lang="ko">
<head>
<title>전국플라워센터 - 문자보내기</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="Flower, flasystem, '플라시스템'">
<meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
<meta property="og:title" content="전국플라워센터">
<meta property="og:url" content="https://www.flowercenter.co.kr/">
<meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
<link rel="stylesheet" type="text/css" href="/css/common.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> 로그인 화면에서만 사용 -->
<!-- <link rel="stylesheet" type="text/css" href="/css/popup.css" /> 팝업 화면에서만 사용 -->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>        
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<script type="text/javascript">
    // 레이아웃용
    $(document).ready(function () {
        $('#header').load('/application/views/header.html');
        $('.gnb').load('/application/views/gnb.html');
        $('.lnb').load('/application/views/lnb.html');
        $('#footer').load('/application/views/footer.html');
    })
</script>
<div id="wrap">
    <header id="header"></header>
    <!-- /header -->

    <hr/>

    <nav class="gnb"></nav>
    <!-- /gnb -->

    <hr/>

    <div id="container">
        <div class="lnb"></div>

        <div id="content">
            <div class="sub">
                <h3 class="con_tit mb10">SMS 관리</h3>
                
                <!-- 탭메뉴 -->
                <ul class="tab_menu">
                    <li class="active"><a href="#">문자보내기</a></li>
                    <li><a href="#">보낸 메세지함</a></li>
                    <li><a href="#">예약 메세지함</a></li>
                    <li><a href="#">화원별 전체내역</a></li>
                </ul>
                <!-- /탭메뉴 -->

                <!-- 문자전송 폼 -->
                <div class="sms_send float_left basic_box">
                    <div class="dark_box">
                        <textarea class="screen" row="10" cols="50">
본인께서 받으셨습니다. -전국플라워센터</textarea>
                        <p class="byte mt15"><strong>0</strong> / 2,000 byte</p>
                    </div>

                    <div class="dark_box mt10">
                        <div class="sms_info">
                            <h4>받는 사람</h4>
                            <ul>
                                <li>
                                    <label><input type="radio" name="" value="" checked="checked" /> 선택</label>
                                    <div class="float_right">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/memberSearch.html', 'memberSearch', 'width=1220, height=910, top=50, left=300, scrollbars=yes')">회원검색</a>
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/addressBook.html', 'addressBook', 'width=600, height=580, top=50, left=300, scrollbars=yes')">주소록</a>
                                        <!-- 최근 발신 번호 -->
                                        <div class="layer_over" id="recentNumber" tabindex="0">
                                            <span class="btn btn_blue btn_s">최근발신</span>
                                            <div class="layerOver" id="recentNumberLayer" style="left:23px; top:19px">
                                                <h5 class="layer_tit">최근 발신 번호</h5>
                                                <ol class="recent_num">
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">홍길동 010-1234-5678</a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div><!-- /layerOver -->
                                        <!-- /최근 발신 번호 -->
                                    </div>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 화원전체</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="dark_box mt10 scroll_y" style="height:166px">
                        <!-- 선택을 선택할 경우 -->
                        <ul class="num_list">
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                        </ul>
                        <!-- 화원전체를 선택할 경우 input disabled="disabled"
                        <ul class="num_list">
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                            <li><input type="text" disabled="disabled" name="" value="" /><a href="#" class="del" title="삭제">x</a></li>
                        </ul> -->
                    </div>

                    <div class="dark_box mt10">
                        <div class="sms_info scroll_y" style="height:95px">
                            <h4>보내는 사람</h4>
                            <ul>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01012345678 </label>
                                    <span>인증완료</span>
                                </li>
                                <li>
                                    <label><input type="radio" name="" value="" /> 01023456789</label>
                                    <span class="text_point">미인증</span>
                                    <div class="float_right">
                                        <a href="#" class="btn btn_blue btn_s" onclick="window.open('/application/popup/views/callCertification.html', 'callCertification', 'width=600, height=570, top=50, left=300, scrollbars=yes')">발신번호인증</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn_area mt10 clear">
                        <a href="#" class="btn btn_cancel btn_m float_left" onclick="window.open('/application/popup/views/reservationSend.html', 'reservationSend', 'width=400, height=180, top=50, left=300, scrollbars=yes')">예약전송</a>
                        <a href="#" class="btn btn_confirm btn_m float_right text_bold">보내기</a>
                    </div>
                </div><!-- /sms_send -->
                <!-- /문자전송 폼 -->

                <div class="sms_view float_left ml20">
                    <div class="basic_box">
                        <h3>SMS 월별 통계</h3>
                        <div>
                            <select class="select" title="연도 선택">
                                <option value="">2018</option>
                                <option value="">2017</option>
                                <option value="">2016</option>
                                <option value="">2015</option>
                            </select> 년
                            <select class="select" title="월 선택">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                            </select> 월
                        </div>
                        
                        <table class="list_table mt10 mb10">
                            <caption> 상세 테이블</caption>
                            <colgroup>
                                <col width="21.688%"/>
                                <col width="*"/>
                            </colgroup>
                            <tbody class="text_left">
                                <tr>
                                    <th scope="col">전송건수 / 전송금액</th>
                                    <td>
                                        2,000건 / 100,000원
                                        <p>(단문 33원 / 장문 55원 sms 서비스 미용은 정산분에 포함됩니다.)</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="basic_box mt20">
                        <h3>메시지 템플릿</h3>
                        <table class="list_table mt20">
                            <caption>목록 테이블</caption>
                            <colgroup>
                                <col width="5%"/>
                                <col width="5%"/>
                                <col width="5%"/>
                                <col width="*"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">NO</th>
                                    <th scope="row">구분</th>
                                    <th scope="row"><input type="checkbox" name="" value="" title="전체선택" /></th>
                                    <th scope="row" class="text_left">메시지 내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>13</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">본인께서 받으셨습니다.감사합니다. - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">배송완료 처리되었습니다. - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">주문하신 상품 배송되었습니다. 좋은 하루되세요 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">상품 배송완료하였습니다. 감사합니다 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">주문하신 상품배송 해드렸습니다. 감사합니다 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">꽃배달완료! 진심으로감사드립니다 행복하세요 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">꽃배달 본인께예약시간배송완료.감사합니다 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">주문하신 상품이 배송 완료되었습니다. 감사합니다 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">꽃배달해드렸습니다 즐거운하루되세요.감사합니다 - 전국플라워센터</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>test</td>
                                    <td><input type="checkbox" name="" value="" title="선택" /></td>
                                    <td class="text_left">꽃배달완료되었습니다.좋은하루되세요^^ - 전국플라워센터</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear mt20">
                            <div class="btn_area float_right">
                                <a href="#" class="btn btn_basic btn_m">선택 삭제</a>
                                <a href="Javascript:void(0);" class="ml15 btn btn_basic btn_m layerOpen" id="messageAdd">메세지 추가</a>
                            </div>

                            <div class="paging float_left">
                                <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                                <a href="#" class="btn" title="이전 페이지">&lt;</a>
                                <ol>
                                    <li><a href="#" class="active" title="현재페이지">1</a></li> <!-- 현재 페이지일 경우 class="active" -->
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">10</a></li>
                                </ol>
                                <a href="#" class="btn" title="다음 페이지">&gt;</a>
                                <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /Sub Page -->

            
            <!-- 메세지 등록 레이어 팝업 -->
            <div class="layer" id="messageAddLayer">
            <div class="overlay"></div>
            <div class="layer_pop" style="margin:-155px 0 0 -250px; width:500px; height:310px">
                <div class="inner">
                    <h5 class="layer_tit">메세지등록</h5>
                    <form name="" action="" method="">
                    <fieldset>
                        <legend>메세지 등록</legend>
                        <div class="basic_box pb00 pl10 pr10">
                            <textarea cols="100" rows="6" style="width:100%; height:110px" class="block" title="메세지 입력"></textarea>
                            <p class="byte">
                                <strong>0</strong>/ 2,000 byte
                            </p>
                        </div>
                        <div class="btn_area text_center mt30">
                            <a href="#" class="btn btn_confirm btn_m">등록</a>
                            <a href="#" class="btn btn_cancel btn_m ml05 close">닫기</a>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
            </div><!-- /layer -->
            <!-- /메세지 등록 레이어 팝업 -->
                                
            <hr />

            <footer id="footer"></footer>
            <!-- /footer -->
        </div>

    </div>
    <!-- /container -->
</div>

<!-- 개발자 가이드 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.developStatus').load('/status/status01.html');
    })
</script>
<div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
<!-- //개발자 가이드 -->
    
</body>
</html>