<!doctype html>
<html lang="ko">
<head>
    <title>전국플라워센터 - 협회 전체 수발주</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> 로그인 화면에서만 사용 -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/popup.css" /> 팝업 화면에서만 사용 -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<script type="text/javascript">
    // 레이아웃용
    $(document).ready(function () {
        $('#header').load('/application/views/header.html');
        $('.gnb').load('/application/views/gnb.html');
        $('.lnb').load('/application/views/lnb.html');
        $('#footer').load('/application/views/footer.html');
    })
</script>
<div id="wrap">
    <header id="header"></header>
    <!-- /header -->

    <hr/>

    <nav class="gnb"></nav>
    <!-- /gnb -->

    <hr/>

    <div id="container">
        <div class="lnb"></div>

        <div id="content">
            <h3 class="con_tit">전체 수발주 리스트</h3>

            <div class="option_area mt10" style="width:1520px">
                <div class="option_srh">
                    <label><input type="radio" name="" value="" /> 주문일</label>
                    <label><input type="radio" name="" value="" /> 배송일</label>                     
                    <span class="calendar">
                        <span class="ico ico_cal"></span>
                        <input type="text" class="datepicker" title="시작일자" />
                    </span> ~
                    <span class="calendar">
                        <span class="ico ico_cal"></span>
                        <input type="text" class="datepicker" title="종료일자" />
                    </span>
                    <span class="btn_area month">
                        <button href="#" class="btn btn_m btn_cancel">4월</button>
                        <button href="#" class="btn btn_m btn_cancel">4월</button>
                        <button href="#" class="btn btn_m btn_blue">6월</button>
                        <button href="#" class="btn btn_m btn_cancel">7월</button>
                    </span>
                </div>

                <div class="option_sort">
                    <select title="배송상태" class="select">
                        <option value="">배송상태선택</option>
                        <option value="">미확인</option>
                        <option value="">미확인(본부화원사)</option>
                        <option value="">본부확인</option>
                        <option value="">주문접수</option>
                        <option value="">배송완료</option>
                    </select>
                    <select title="검색범위" class="select ml10">
                        <option value="">발주화원명</option>
                        <option value="">수주화원명</option>
                        <option value="">주문자</option>
                        <option value="">받는분</option>
                        <option value="">배달장소</option>
                        <option value="">보내는분</option>
                        <option value="">인수자명</option>
                        <option value="">주문번호</option>
                        <option value="">상품명</option>
                        <option value="">상품코드</option>
                        <option value="">중계담당자</option>
                        <option value="">주문자연락처</option>
                        <option value="">받는분연락처</option>
                        <option value="">지정화원사</option>
                        <option value="">주문작성자</option>
                        <option value="">발주아이디</option>
                        <option value="">수주아이디</option>
                    </select>
                    <input type="text" name="" value="" title="검색 키워드" placeholder="검색 키워드" class="ml10" />
                    <a href="#" class="btn btn_m btn_search">검색<span class="ico ico_srch"></span></a>
                </div>
            </div><!-- option_area -->

            <hr class="hr" /> <!-- 라인 효과-->

            <div style="width:1520px">
                <table class="list_table bg_blue mt10" style="width:1248px">
                    <caption>건수별 정보</caption>
                    <colgroup>
                        <col width="156px" span="8" />
                        <col width="*"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">총주문건수 / 금액</th>
                            <th scope="row">주문결제건수 / 금액</th>
                            <th scope="row">미배송건수 / 금액</th>
                            <th scope="row">취소건수 / 금액</th>
                            <th scope="row">배송완료건수 / 금액</th>
                            <th scope="row">전일주문건수 / 금액</th>
                            <th scope="row">금일주문건수 / 금액</th>
                            <th scope="row">팩스 미전송 건수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>100,000 /  1,000,000,000</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

                <table class="list_table bg_blue mt10">
                    <caption>발주 건수별 정보</caption>
                    <colgroup>
                        <col width="156px" span="9" />
                        <col width="*"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">총발주건수 / 금액</th>
                            <td>10,000 / 1,111,111,111</td>
                            <th scope="row">본부발주건수 / 금액</th>
                            <td>10,000 / 1,111,111,111</td>
                            <th scope="row">직발주건수 / 금액</th>
                            <td>10,000 / 1,111,111,111</td>
                            <th scope="row">지정발주 건수 / 지정율</th>
                            <td>10,000 / 5%</td>
                            <th scope="row">취약지역금액 / 취약율</th>
                            <td>111,111,000 / 20%</td>
                        </tr>
                    </tbody>
                </table>

                <!-- 목록 테이블 -->
                
                <table class="list_table bg_blue mt10" summary="주문번호, 주문확인, 주문접수일, 희망배송일, 받는 분 등의 정보를 제공">
                    <caption>주문 정보</caption>
                    <colgroup>
                        <col width="4.6%" />
                        <col width="3.289%" />
                        <col width="4.6%" />
                        <col width="12.17%" />
                        <col width="5.921%" />
                        <col width="10.3289%" span="2" />
                        <col width="21.8421%" />
                        <col width="5%" />
                        <col width="12.82895%" />
                        <col width="*"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">주문번호</th>
                            <th scope="row">구분</th>
                            <th scope="row">주문확인</th>
                            <th scope="row">주문접수일<br />희망배송일</th>
                            <th scope="row">받는분</th>
                            <th scope="row">발주화원</th>
                            <th scope="row">수주화원</th>
                            <th scope="row">상품명<br />배송지</th>
                            <th scope="row">원청금액<br />결제금액</th>
                            <th scope="row">인수자</th>
                            <th scope="row">기타정보</th>
                            <th scope="row">배송상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" onclick="window.open('/application/popup/views/orderInfo.html','orderInfo','width=800, height=80, top=100, left=540')">000111</a><br />
                                <span class="warning_text">주문거절</span>
                            </td>
                            <td>본부</td>
                            <td>
                                <a href="javascript:void(0)" class="ico_order" title="수주화원 확인시간 2018-09-17 10:00:00"> 
                                     수주확인
                                </a>
                            </td>
                            <td>
                                <p>18-04-20 13:20</p>
                                <p>
                                    18-06-07
                                    <span class="text_warning">13시 행사</span>
                                </p>
                            </td>
                            <td>홍길동</td>
                            <td>
                                <p class="ellipsis">경상남도 창원시 마산합포구</p>
                                <!-- 마우스 오버 시 레이어 -->
                                <div class="layer_over" id="order01"> <!-- id값은 01,02,03 순으로 늘어남-->
                                    <a href="javascript:void(0)" class="ellipsis">홍길동플라워</a>
                                    <div class="layerOver" id="order01Layer"> <!-- id값은 01,02,03 순으로 늘어남-->
                                        <h4 class="layer_tit">[경상남도 창원시 마산합포구] 홍길동플라워</h4>
                                        <dl>
                                            <dt class="ir">이름</dt>
                                            <dd>홍길동</dd>
                                            <dt class="ir">연락처</dt>
                                            <dd>
                                                <strong>T</strong> 053-111-2222
                                                <strong>F</strong> 053-111-2222
                                            </dd>
                                            <dt class="ir">핸드폰</dt>
                                            <dd>
                                                <strong>H</strong> 053-111-2222
                                            </dd>
                                            <dt class="ir">이메일</dt>
                                            <dd>
                                                <strong>E</strong> test@hanmail.net
                                            </dd>
                                            <dt class="ir">계좌</dt>
                                            <dd>대구은행 111-222-3333-1111 홍길동</dd>
                                        </dl>
                                    </div>
                                </div><!-- /layerOver -->
                                <!-- /마우스 오버 시 레이어 -->
                            </td>
                            <td>
                                <p class="ellipsis">경상남도 창원시 마산합포구</p>
                                <!-- 마우스 오버 시 레이어 -->
                                <div class="layer_over" id="winorder01"> <!-- id값은 01,02,03 순으로 늘어남-->
                                    <a href="javascript:void(0)" class="ellipsis">고성화원</a>
                                    <div class="layerOver" id="winorder01Layer"> <!-- id값은 01,02,03 순으로 늘어남-->
                                        <h4 class="layer_tit">[경상남도 창원시 마산합포구] 고성화원</h4>
                                        <dl>
                                            <dt class="ir">이름</dt>
                                            <dd>홍길동</dd>
                                            <dt class="ir">연락처</dt>
                                            <dd>
                                                <strong>T</strong> 053-111-2222
                                                <strong>F</strong> 053-111-2222
                                            </dd>
                                            <dt class="ir">핸드폰</dt>
                                            <dd>
                                                <strong>H</strong> 053-111-2222
                                            </dd>
                                            <dt class="ir">이메일</dt>
                                            <dd>
                                                <strong>E</strong> test@hanmail.net
                                            </dd>
                                            <dt class="ir">계좌</dt>
                                            <dd>대구은행 111-222-3333-1111 홍길동</dd>
                                        </dl>
                                    </div>
                                </div><!-- /layerOver -->
                                <!-- /마우스 오버 시 레이어 -->
                            </td>
                            <td>
                                <p>
                                    축하3단
                                    <a href="javascript:void(0)" class="ico_order layerOpen" id="veiwGoods01">image</a>
                                    <div class="layer" id="veiwGoods01Layer">
                                        <div class="overlay"></div>
                                        <div class="layer_pop" style="margin:-155px 0 0 -250px; width:500px; height:310px">
                                            <div class="inner">
                                                <h4 class="layer_tit">축하3단</h4>
                                                <div class="basic_box">
                                                    <img src="" alt="축하3단 이미지" />
                                                </div>
                                                <div class="btn_area ac mt30">
                                                    <a href="#" class="btn btn_cancel btn_m ml05 close">닫기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /layer -->
                                    <!-- /레이어 팝업 -->
                                    <span href="#" class="ico_order">option</span>
                                </p>
                                <p class="ellipsis" title="부산광역시 연제구 명륜로 3">부산광역시 연제구 명륜로 3</p>
                            </td>
                            <td>
                                <p>100,000</p>
                                <p class="bold">60,000</p>
                            </td>
                            <td>
                                <a href="javascript:void(0);" onclick="window.open('/application/popup/views/shipReg.html','shipReg','width=1300, height=590, top=100, left=540')">홍길동</a>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /목록 테이블 -->

                <!-- 페이징 -->
                <div class="paging mt20">
                    <a href="#" class="btn" title="처음 페이지">&lt;&lt;</a>
                    <a href="#" class="btn" title="이전 페이지">&lt;</a>
                    <ol>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ol>
                    <a href="#" class="btn" title="다음 페이지">&gt;</a>
                    <a href="#" class="btn" title="마지막 페이지">&gt;&gt;</a>
                </div>
                <!-- //페이징 -->

                <div class="btn_area">
                    <a class="btn btn_xs btn_basic btn_round00">최근입금내역</a>
                    <a href="#" class="btn btn_xs btn_cancel btn_round00">입금내역</a>
                </div>

                <div class="btn_area mt20">
                    <a href="#" class="btn btn_blue btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_basic btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_cancel btn_s">발신번호인증</a>
                    <a href="#" class="btn btn_confirm btn_s">발신번호인증</a>
                </div>

                <div class="btn_area mt20">
                    <a href="#" class="btn btn_confirm btn_sm">확인</a>
                    <a href="#" class="ml15 btn btn_confirm btn_sm">저장<span class="ico ico_save"></span></a>
                    <a href="#" class="ml15 btn btn_cancel btn_sm">취소</a>
                    <a href="#" class="ml15 btn btn_cancel btn_sm">삭제<span class="ico ico_del"></span></a>
                    <a href="#" class="ml15 btn btn_basic btn_sm">메세지 추가</a>
                    <a href="#" class="ml15 btn btn_basic btn_sm">저장<span class="ico ico_save"></span></a>
                </div>

                <div class="btn_area mt20">
                    <a href="#" class="btn btn_confirm btn_m">확인</a>
                    <a href="#" class="ml15 btn btn_confirm btn_m">저장<span class="ico ico_save"></span></a>
                    <a href="#" class="ml15 btn btn_cancel btn_m">취소</a>
                    <a href="#" class="ml15 btn btn_cancel btn_m">삭제<span class="ico ico_del"></span></a>
                    <a href="#" class="ml15 btn btn_basic btn_m">메세지 추가</a>
                    <a href="#" class="ml15 btn btn_basic btn_m">저장<span class="ico ico_save"></span></a>
                </div>

                <div class="btn_area mt20">
                    <a href="#" class="btn btn_confirm btn_ml">저장</a>
                    <a href="#" class="ml15 btn btn_cancel btn_ml">저장</a>
                    <a href="#" class="ml15 btn btn_basic btn_ml">저장</a>
                </div>

                <div class="btn_area mt20">
                    <a href="#" class="btn btn_confirm btn_l">저장</a>
                    <a href="#" class="ml15 btn btn_cancel btn_l">저장</a>
                    <a href="#" class="ml15 btn btn_basic btn_l">저장</a>
                </div>
                


                <!-- 레이어 팝업 -->
                <div class="btn_area mt10">
                    <a href="javascript:void(0)" onclick="window.open('popupURL.html','popupName','width=1300, height=590, top=100, left=540')" class="btn btn_basic btn_m">새창팝업</a>
                    <a href="Javascript:void(0);" class="btn btn_basic btn_m layerOpen" id="layerName">레이어팝업</a><!-- 레이어 팝업: class="layerOpen" id="레이어팝업 이름" -->
                </div>
                <div class="layer" id="layerNameLayer"><!-- 레이어 팝업 띄우는 id + Layer -->
                    <div class="overlay"></div>
                    <div class="layer_pop" style="margin:-155px 0 0 -250px; width:500px; height:310px">
                        <div class="inner">
                            <h4 class="layer_tit">메세지등록</h4>
                            <form name="" action="" method="">
                            <fieldset>
                                <legend>메세지 등록</legend>
                                <div class="basic_box pb00 pl10 pr10">
                                    <textarea cols="100" rows="6" style="width:100%; height:110px" class="block" title="메세지 입력"></textarea>
                                    <p class="byte">
                                        <strong>0</strong>/ 2,000 byte
                                    </p>
                                </div>
                                <div class="btn_area ac mt30">
                                    <a href="#" class="btn btn_confirm btn_m">등록</a>
                                    <a href="#" class="btn btn_cancel btn_m ml05 close">닫기</a>
                                </div>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div><!-- /layer -->
                <!-- /레이어 팝업 -->

                <!-- 마우스 오버 시 레이어 -->
                <div class="layer_over block fl mt20" id="qwer">
                    <span class="btn btn_blue btn_m">마우스오버 레이어</span>
                    <div class="layerOver" id="qwerLayer">
                        <h4 class="layer_tit">마우스 오버 레이어</h4>
                        <ol>
                            <li>
                                <a href="#">010-1234-5678</a>
                            </li>
                        </ol>
                    </div>
                </div><!-- /layerOver -->
                <!-- /마우스 오버 시 레이어 -->

                <div class="mb10 clear"></div>

                <select title="필수" class="ship_select">
                    <option class="no_check">미확인</option>
                    <option class="check">본부확인</option>
                    <option class="order">주문접수</option>
                    <option class="shipping">배송중</option>
                    <option class="delivery">배송완료</option>
                </select>
                <!-- //select box -->

                <select class="select">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>홍길동 플라워</option>
                </select>
                <!-- //select box -->

                <div class="date_pick mt10">
                    Date: 
                    <span class="calendar">
                        <span class="ico ico_cal"></span>
                        <input type="text" id="datepicker"/>
                    </span>
                </div>
                <!-- //date_pick -->
            </div>

            <hr />

            <footer id="footer"></footer>
            <!-- /footer -->
        </div>

    </div>
    <!-- /container -->
</div>
<!-- /wrap -->

<!-- 개발자 가이드 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.developStatus').load('/status/status01.html');
    })
</script>
<div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
<!-- //개발자 가이드 -->

</body>
</html>