<!doctype html>
<html lang="ko">
    <head>
        <title>화원검색</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit">
                    <h2 class="h2">회원 검색</h2>
                    <p class="fr text_14">취약지역 <span>100,000,000</span> / <span>19%</span></p>
                </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    // 회원검색 : 레이어 오픈 시 해당 버튼 active
                    $('.search_box .layerOpen').click(function(){
                        $('.search_box .layerOpen').removeClass('active');
                        $(this).addClass('active');

                    })
                    // 회원검색 : 레이어 팝업 close
                    $('.layer .region_list td a, .layer .btn.close, .layer .btn.apply').click(function () {
                        $('.layer .region_list td').removeClass('active');
                        $(this).closest('td').addClass('active');
                        $(this).closest($('.layer')).fadeOut();
                        $('.search_box .layerOpen').removeClass('active');
                    })
                })
            </script>
                <div class="member_search mt10 clear">
                    <!-- 지역 검색 -->
                    <div class="zone">
                        <div class="search_box">
                            <a href="Javascript:void(0);" class="btn_select ellipsis layerOpen" id="address1"><span class="ico"></span>시/도</a>
                            <a href="Javascript:void(0);" class="ml05 btn_select ellipsis layerOpen" id="address2"><span class="ico"></span>구/군</a>
                            <a href="Javascript:void(0);" class="ml05 btn_select ellipsis layerOpen" id="address3"><span class="ico"></span>동/읍/면</a>

                            <!-- 시,도 팝업 -->
                            <div class="layer v2" id="address1Layer">
                                <div class="layer_pop p00">
                                    <div class="inner p00">
                                        <table class="region_list">
                                            <tr>
                                                <td><a href="#">서울특별시</a></td>
                                                <td><a href="#">경기도</a></td>
                                                <td><a href="#">인천광역시</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">부산광역시</a></td>
                                                <td><a href="#">대구광역시</a></td>
                                                <td><a href="#">광주광역시</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">대전광역시</a></td>
                                                <td><a href="#">울산광역시</a></td>
                                                <td><a href="#">세종특별시</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">강원도</a></td>
                                                <td><a href="#">경상남도</a></td>
                                                <td><a href="#">경상북도</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">전라남도</a></td>
                                                <td><a href="#">전라북도</a></td>
                                                <td><a href="#">충청남도</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">충청북도</a></td>
                                                <td><a href="#">제주도</a></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <div class="btn_area ar pt05 pb05 pr10">
                                            <a href="#" class="btn btn_cancel btn_xs close">닫기</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /layer -->
                            <!-- 구/군 팝업 -->
                            <div class="layer v2" id="address2Layer">
                                <div class="layer_pop p00">
                                    <div class="inner p00">
                                        <table class="region_list">
                                            <tr>
                                                <td><a href="#">전체</a></td>
                                                <td><a href="#">강남구</a></td>
                                                <td><a href="#">강동구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">강북구</a></td>
                                                <td><a href="#">강서구</a></td>
                                                <td><a href="#">관악구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">광진구</a></td>
                                                <td><a href="#">구로구</a></td>
                                                <td><a href="#">금천구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">노원구</a></td>
                                                <td><a href="#">도봉구</a></td>
                                                <td><a href="#">동대문구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">동작구</a></td>
                                                <td><a href="#">마포구</a></td>
                                                <td><a href="#">서대문구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">서초구</a></td>
                                                <td><a href="#">성동구</a></td>
                                                <td><a href="#">성북구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">송파구</a></td>
                                                <td><a href="#">양천구</a></td>
                                                <td><a href="#">영등포구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">용산구</a></td>
                                                <td><a href="#">은평구</a></td>
                                                <td><a href="#">종로구</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">중구</a></td>
                                                <td><a href="#">중랑구</a></td>
                                                <td><a href="#">창원시 마산합포구</a></td>
                                            </tr>
                                        </table>
                                        <div class="btn_area ar pt05 pb05 pr10">
                                            <a href="#" class="btn btn_cancel btn_xs close">닫기</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /layer -->
                            <!-- 동,읍,면 팝업 -->
                            <div class="layer v2" id="address3Layer">
                                <div class="layer_pop p00">
                                    <div class="inner p00">
                                        <table class="region_list">
                                            <tr>
                                                <td><a href="#">가산동</a></td>
                                                <td><a href="#">독산동</a></td>
                                                <td><a href="#">시흥동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">독산1동</a></td>
                                                <td><a href="#">독산2동</a></td>
                                                <td><a href="#">독산3동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">독산4동</a></td>
                                                <td><a href="#">시흥1동</a></td>
                                                <td><a href="#">시흥2동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">시흥3동</a></td>
                                                <td><a href="#">시흥4동</a></td>
                                                <td><a href="#">시흥5동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">가산동</a></td>
                                                <td><a href="#">독산동</a></td>
                                                <td><a href="#">시흥동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">독산1동</a></td>
                                                <td><a href="#">독산2동</a></td>
                                                <td><a href="#">독산3동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">독산4동</a></td>
                                                <td><a href="#">시흥1동</a></td>
                                                <td><a href="#">시흥2동</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">시흥3동</a></td>
                                                <td><a href="#">시흥4동</a></td>
                                                <td><a href="#">시흥5동</a></td>
                                            </tr>
                                        </table>
                                        <div class="btn_area ar pt05 pb05 pr10">
                                            <a href="#" class="btn btn_cancel btn_xs close">닫기</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /layer -->
                        </div>

                        <div class="map_api mt10">지도</div>

                        <div class="zone_note mt10">
                            <textarea cols="100" rows="7" title="지역별 메모"></textarea>
                            <div class="btn_area mt10">
                                <a href="#" class="btn btn_basic btn_m btn_round00">서울 메모저장</a>
                            </div>
                        </div>

                    </div><!-- /zone -->
                    <!-- //지역 검색 -->

                    <!-- 화원 검색 -->
                    <div class="shop">
                        <div class="search_box">
                            <select title="검색분류" class="select">
                                <option value="">상호명</option>
                                <option value="">배송지주소</option>
                                <option value="">대표자명</option>
                            </select>
                            <input type="text" name="" value="" title="검색어 입력" class="ml05 keyword" placeholder="검색어 입력" />
                            <a href="#" class="ml05 btn btn_m btn_cancel btn_round00 bold">검색<span class="ico ico_srch"></span></a>
                            <a href="#" class="ml05 btn btn_m btn_cancel btn_round00 bold layerOpen" id="detailSearch">상세검색<span class="ico ico_srch"></span></a>
                        </div>

                        <!-- 상세검색 레이어 팝업 -->
                        <div class="layer v2"  id="detailSearchLayer">
                            <div class="layer_pop p00">
                                <div class="inner p00">
                                    <table class="input_table02" summary="회원등급, 취급상품, 그외 선택">
                                        <caption>상세 검색</caption>
                                        <colgroup>
                                            <col width="10%" />
                                            <col width="*" />
                                        </colgroup>
                                        <tr>
                                            <th scope="col">회원등급</th>
                                            <td>
                                                <div class="input_list five pl10">
                                                    <label><input type="checkbox" name="" value="" /> 1등급</label>
                                                    <label><input type="checkbox" name="" value="" /> 2등급</label>
                                                    <label><input type="checkbox" name="" value="" /> 3등급</label>
                                                    <label><input type="checkbox" name="" value="" /> 4등급</label>
                                                    <label><input type="checkbox" name="" value="" /> 5등급</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">취급상품</th>
                                            <td>
                                                <div class="input_list five pl10">
                                                    <label><input type="checkbox" name="" value="" /> 꽃</label>
                                                    <label><input type="checkbox" name="" value="" /> 난</label>
                                                    <label><input type="checkbox" name="" value="" /> 화환</label>
                                                    <label><input type="checkbox" name="" value="" /> 관엽</label>
                                                    <label><input type="checkbox" name="" value="" /> 쌀화환</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">그 외</th>
                                            <td>
                                                <div class="input_list four pl10">
                                                    <label><input type="checkbox" name="" value="" /> 디카사용</label>
                                                    <label><input type="checkbox" name="" value="" /> 휴일배송</label>
                                                    <label><input type="checkbox" name="" value="" /> 야감배송</label>
                                                    <label><input type="checkbox" name="" value="" /> 무발주화원</label>
                                                </div>
                                                <div class="input_list four pl10">
                                                    <label><input type="checkbox" name="" value="" /> 연체화원</label>
                                                    <label><input type="checkbox" name="" value="" /> 쌍화환취급</label>
                                                    <label><input type="checkbox" name="" value="" /> 클레임예치금</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="btn_area ac pt05 pb05 pr10">
                                        <a href="#" class="btn btn_confirm btn_xs apply">적용</a>
                                        <a href="#" class="ml05 btn btn_cancel btn_xs close">닫기</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /layer -->
                        <!-- //상세검색 레이어 팝업 -->

                        <div class="option_area">
                            <div class="option_srh">
                                서울 개포동 발주 : 80,000,000 / 수주 : 100,000,000 (42%)
                            </div>
                            <div class="option_sort">
                                <select title="정렬" class="select">
                                    <option value="">기본정렬순</option>
                                    <option value="">금액 높은순</option>
                                    <option value="">금액 낮은순</option>
                                    <option value="">발주율 높은순</option>
                                    <option value="">발주율 낮은순</option>
                                    <option value="">수주건수 높은순</option>
                                    <option value="">수주건수 낮은순</option>
                                    <option value="">발주건수 높은순</option>
                                    <option value="">발주건수 낮은순</option>
                                    <option value="">야간배송</option>
                                </select>
                            </div>
                        </div><!-- /option_area -->

                        <div class="result scroll_y">
                            <ol>
                                <li>
                                    <!-- 화원 정보 -->
                                    <div class="info">
                                        <div class="box">
                                            <div class="clear">
                                                1. <a href="javascript:void(0)" class="ellipsis" onclick="javascript:window.open('/html/popup/views/memberInfoModify.html','memberInfoModify','width=955, height=900, top=50, left=50, scrollbars=yes');"><strong>홍길동플라워</strong> (강남구 개봉동)</a>
                                                <span class="ico_store">5등급</span>
                                                <p class="fr">
                                                    <a href="javascript:void(0)" onclick="javascript:window.open('/html/popup/views/memberInfo.html','memberInfo','width=955, height=900, top=50, left=50, scrollbars=yes');" class="btn btn_xs btn_basic btn_round00">최근배송사진</a>
                                                    <a href="javascript:void(0)" onclick="javascript:window.open('/html/popup/views/depositDetail.html','depositDetail','width=1250, height=430, top=50, left=50, scrollbars=yes');" class="btn btn_xs btn_basic btn_round00">입금내역</a>
                                                </p>
                                            </div>
                                            <ul class="tag_list">
                                                <li><span class="ico_store">디카</span></li>
                                                <li><span class="ico_store">휴일배송</span></li>
                                                <li><span class="ico_store">야간배송</span></li>
                                                <li><span class="ico_store">무발주</span></li>
                                                <li><span class="ico_store">클레임 예치금</span></li>
                                                <li><span class="ico_store">물량</span></li>
                                            </ul>
                                        </div>

                                        <table class="mt10 list_table"  >
                                            <caption>월별, 일별 발주 수주 정보</caption>
                                            <colgroup>
                                                <col width="50%" />
                                                <col width="*" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="col">09월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) / 100%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">08월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) /  50%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">07월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) / 100%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">오늘발주 / 오늘수주 / 당월기여액</th>
                                                    <td>600,000(10) / 100,000(20) / 700,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">발주제한 / 전월잔금 / 수주인센</th>
                                                    <td>600,000 / 100,000(입금) / 회원약관진행</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">오늘취소(원(건수)) / 당월취소(윈(건수))</th>
                                                    <td>600,000(10) / 100,000(10)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="shop_note">
                                            <textarea cols="100" rows="3" title="화원 메모저장"></textarea>
                                            <a href="#" class="btn">화원 메모저장</a>
                                        </div>
                                    </div>
                                    <!-- //화원 정보 -->

                                    <!-- 재고 및 배송 정보 -->
                                    <table class="list_table fr">
                                        <caption>종류별 가능여부</caption>
                                        <colgroup>
                                            <col width="33%" span="2" />
                                            <col width="*" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="row">구분</th>
                                                <th scope="row">배송</th>
                                                <th scope="row">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="possible"> <!-- 가능 class -->
                                                <td>동양란</td>
                                                <td>가능</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="possible">
                                                <td>서양란</td>
                                                <td>가능</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="impossible"> <!-- 불가능 class -->
                                                <td>축하</td>
                                                <td>불가</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="impossible">
                                                <td>근조</td>
                                                <td>불가</td>
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td>꽃</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>관엽</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>쌀화환</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- //재고 및 배송 정보 -->

                                    <div class="btn_area">
                                        <a href="#" class="btn btn_m btn_blue">선택</a>
                                    </div>
                                </li>

                                <li>
                                    <!-- 화원 정보 -->
                                    <div class="info">
                                        <div class="box">
                                            <div class="clear">
                                                1. <a href="javascript:void(0)" class="ellipsis" onclick=""><strong>홍길동플라워</strong> (강남구 개봉동)</a>
                                                <span class="ico_store">5등급</span>
                                                <p class="fr">
                                                    <a href="javascript:void(0)" onclick="javascript:window.open('/html/popup/views/memberInfo.html','memberInfo','width=955, height=900, top=50, left=50, scrollbars=yes');" class="btn btn_xs btn_basic btn_round00">최근배송사진</a>
                                                    <a href="javascript:void(0)" onclick="javascript:window.open('/html/popup/views/depositDetail.html','depositDetail','width=1250, height=430, top=50, left=50, scrollbars=yes');" class="btn btn_xs btn_basic btn_round00">입금내역</a>
                                                </p>
                                            </div>
                                            <ul class="tag_list">
                                                <li><span class="ico_store">디카</span></li>
                                                <li><span class="ico_store">휴일배송</span></li>
                                                <li><span class="ico_store">야간배송</span></li>
                                                <li><span class="ico_store">무발주</span></li>
                                                <li><span class="ico_store">클레임 예치금</span></li>
                                                <li><span class="ico_store">물량</span></li>
                                            </ul>
                                        </div>

                                        <table class="mt10 list_table"  >
                                            <caption>월별, 일별 발주 수주 정보</caption>
                                            <colgroup>
                                                <col width="50%" />
                                                <col width="*" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="col">09월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) / 100%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">08월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) /  50%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">07월(발주/수주/발주율)</th>
                                                    <td>600,000(10) / 100,000(20) / 100%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">오늘발주 / 오늘수주 / 당월기여액</th>
                                                    <td>600,000(10) / 100,000(20) / 700,000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">발주제한 / 전월잔금 / 수주인센</th>
                                                    <td>600,000 / 100,000(입금) / 회원약관진행</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">오늘취소(원(건수)) / 당월취소(윈(건수))</th>
                                                    <td>600,000(10) / 100,000(10)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="shop_note">
                                            <textarea cols="100" rows="3" title="화원 메모저장"></textarea>
                                            <a href="#" class="btn">화원 메모저장</a>
                                        </div>
                                    </div>
                                    <!-- //화원 정보 -->

                                    <!-- 재고 및 배송 정보 -->
                                    <table class="list_table fr">
                                        <caption>종류별 가능여부</caption>
                                        <colgroup>
                                            <col width="33%" span="2" />
                                            <col width="*" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="row">구분</th>
                                                <th scope="row">배송</th>
                                                <th scope="row">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="possible"> <!-- 가능 class -->
                                                <td>동양란</td>
                                                <td>가능</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="possible">
                                                <td>서양란</td>
                                                <td>가능</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="impossible"> <!-- 불가능 class -->
                                                <td>축하</td>
                                                <td>불가</td>
                                                <td>60</td>
                                            </tr>
                                            <tr class="impossible">
                                                <td>근조</td>
                                                <td>불가</td>
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td>꽃</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>관엽</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>쌀화환</td>
                                                <td>미취급</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- //재고 및 배송 정보 -->

                                    <div class="btn_area">
                                        <a href="#" class="btn btn_m btn_blue">선택</a>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- //화원 검색 -->
                </div> <!-- /member_search -->

                <div class="btn_area ar mt20">
                    <a href="javascript:window.close();" class="btn btn_confirm btn_m">닫기</a>
                </div>
            </div>
        </div>
    </body>
</html>
