<!doctype html>
<html lang="ko">
    <head>
        <title>주문거절</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit mb10">
                    <h2 class="h2">주문거절</h2>
                </div>

                <div class="refuse_select clear">
                    <div class="clear">
                        <span>주문거절 사유를 입력해주세요</span>
                        <span class="fr">
                            <a href="#" class="btn btn_basic btn_xs">남</a>
                            <a href="#" class="btn btn_basic btn_xs">여</a>
                        </span>
                    </div>
                    <ul class="refuse_list mt10">
                        <li><a href="#" class="btn btn_cancel btn_m w_100">상품없음</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">바쁨</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">당일불가상품</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">거리가 멂</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">금액미달</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">외근중</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">거래안함</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">돌려달라함</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">퇴근</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">부재중문자발송</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">취소안내</a></li>
                        <li><a href="#" class="btn btn_cancel btn_m w_100">휴무</a></li>
                    </ul>
                    <textarea>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod quo nulla nobis maiores enim temporibus! Maxime voluptatum tenetur, natus molestias eaque nam, eveniet illo eligendi cumque reiciendis fugiat ut.
                    </textarea>
                </div>

                <div class="btn_area ar mt20">
                    <a href="#" class="btn btn_confirm btn_m w100">주문거절요청</a>
                    <a href="javascript:window.close()" class="btn btn_cancel btn_m w100 ml05">닫기</a>
                </div>

            </div>
        </div>
    </body>
</html>
