<!doctype html>
<html lang="ko">
    <head>
        <title>배송사진 등록</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit mb10">
                    <h2 class="h2">배송사진 등록</h2>
                </div>
                <div class="basic_box pt10 pr10 pb10 pl10">
                    <dl class="dl_list">
                        <dt>배송지 :</dt>
                        <dd>서울시 구로구 구로동 1111</dd>
                        <dt>경조사어 :</dt>
                        <dd>축발전</dd>
                        <dt>보내는분 :</dt>
                        <dd>홍길동</dd>
                        <dt>카드메세지 :</dt>
                        <dd>하이하이</dd>
                    </dl>
                </div>

                <div class="ship_photoBox mt10">
                    <table summary="배송사진 등록" class="input_table">
                        <colgroup>
                            <col width="20%"/>
                            <col width="*"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">배송사진1</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="attach_file">
                                        <div class="download" style="display:none">
                                            <a href="#" class="file_name"><span class="ico ico_down"></span>file1.jpg</a>
                                            <a href="#" class="btn btn_cancel btn_sm ml05">수정</a>
                                            <a href="#" class="btn btn_cancel btn_sm">삭제</a>
                                        </div>
                                        <div class="upload">
                                            <label class="btn btn_blue btn_sm w70">
                                                <input type="file" value="" name="" class="btn_file" title="첨부파일" />첨부파일
                                            </label>
                                            <input type="text" value="" name="" placeholder="선택된 파일 없음" disabled="disabled" class="ml05 w_70" />
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">배송사진2</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="attach_file">
                                        <div class="download" style="display:none">
                                            <a href="#" class="file_name"><span class="ico ico_down"></span>file1.jpg</a>
                                            <a href="#" class="btn btn_cancel btn_sm ml05">수정</a>
                                            <a href="#" class="btn btn_cancel btn_sm">삭제</a>
                                        </div>
                                        <div class="upload">
                                            <label class="btn btn_blue btn_sm w70">
                                                <input type="file" value="" name="" class="btn_file" title="첨부파일" />첨부파일
                                            </label>
                                            <input type="text" value="" name="" placeholder="선택된 파일 없음" disabled="disabled" class="ml05 w_70" />
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">배송사진3</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="attach_file">
                                        <div class="download" style="display:none">
                                            <a href="#" class="file_name"><span class="ico ico_down"></span>file1.jpg</a>
                                            <a href="#" class="btn btn_cancel btn_sm ml05">수정</a>
                                            <a href="#" class="btn btn_cancel btn_sm">삭제</a>
                                        </div>
                                        <div class="upload">
                                            <label class="btn btn_blue btn_sm w70">
                                                <input type="file" value="" name="" class="btn_file" title="첨부파일" />첨부파일
                                            </label>
                                            <input type="text" value="" name="" placeholder="선택된 파일 없음" disabled="disabled" class="ml05 w_70" />
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="ar text_11">허용확장자 : gif, bmp, jpg, jpeg, png</p>
                </div>

                <ul class="img_ratate">
                    <li>
                       <div>
                            <img src="/img/sample_img01.gif" alt="" />
                            <a href="#" class="btn_rotateLeft">왼쪽으로 90도 회전</a>
                            <a href="#" class="btn_rotateRight">오른쪽으로 90도 회전</a>
                        </div>
                    </li>
                    <li>
                       <div>
                            <img src="/img/sample_img01.gif" alt="" />
                            <button type=""><img src="" alt="왼쪽으로 90도 회전" /></button>
                            <button type=""><img src="" alt="오른쪽으로 90도 회전" /></button>
                        </div>
                    </li>
                    <li>
                       <div>
                            <img src="/img/sample_img01.gif" alt="" />
                            <button type=""><img src="" alt="왼쪽으로 90도 회전" /></button>
                            <button type=""><img src="" alt="오른쪽으로 90도 회전" /></button>
                        </div>
                    </li>
                </ul>

                <div class="btn_area mt20">
                    <span class="fr">
                        <a href="#" class="btn btn_confirm btn_m">등록</a>
                        <a href="javascript:window.close();" class="btn btn_cancel btn_m">닫기</a>
                    </span>
                </div>

            </div>
        </div>
    </body>
</html>
