<!doctype html>
<html lang="ko">
    <head>
        <title>배송완료통보</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Keywords" content="Flower, flasystem, '플라시스템'">
        <meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
        <meta property="og:title" content="전국플라워센터">
        <meta property="og:url" content="https://www.flowercenter.co.kr/">
        <meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/popup.css" /><!-- 팝업 화면에서만 사용 -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
        <div id="wrap" class="popup">
            <div id="content">
                <div class="tit mb10">
                    <h2 class="h2">전송결과</h2>
                </div>

                <table class="list_table" summary="주문통보FAX, SMS전송, 이메일전송">
                    <caption>전송결과</caption>
                    <colgroup>
                        <col width="35%"/>
                        <col width="*"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="col">주문통보 FAX</th>
                            <td>
                                <span class="text_warning">미발송</span>
                                <span class="text_11">(인수증을 발주화원으로 전송)</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">SMS전송</th>
                            <td>
                                <span>전송완료</span>
                                <span class="text_11">(발주화원에 배송완료 통보 전송)</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">이메일전송</th>
                            <td>
                                <span class="text_warning">미발송</span>
                                <span class="text_11">(인수증을 발주화원으로 전송)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="btn_area mt20 ar">
                        <a href="javascript:window.close();" class="btn btn_confirm btn_m w100">닫기</a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
