<!doctype html>
<html lang="en">
<head>
<title>전국플라워센터 로그인</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="Flower, flasystem, '플라시스템'">
<meta name="Description" content="전국플라워센터에서 손쉽게 주문,발주 관리를 해보세요">
<meta property="og:title" content="전국플라워센터">
<meta property="og:url" content="https://www.flowercenter.co.kr/">
<meta name="format-detection" content="telephone=no"> <!-- edge에서 숫자나열시 전화번호로 인식하는 문제 해결 -->
<link rel="stylesheet" type="text/css" href="/css/common.css" /> <!-- 공통으로 사용하는 CSS -->
<link rel="stylesheet" type="text/css" href="/css/login.css" /> <!-- 로그인 화면에서만 사용하는 CSS -->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>        
<script type="text/javascript" src="/js/common.js"></script>
<script>	
	// 신규 가맹점 가입신청 window popup
	function joinLayer (){
		window.open('/application/popup/views/joinForm.html', 'joinForm', 'width=1000, height=650, left=540, top=150, scrollbars=yes');
	}
</script>
</head>
<body>
<div id="wrap" class="login_page">
	<header id="header">
		<h1 class="logo">
			<a href="http://flowercenter.roseweb.co.kr/">
				<img src="/img/login/logo.png" alt="전국플라워센터" />
			</a>
		</h1>
	</header><!-- /header -->

	<hr />

	<div id="container">
		<!-- 로그인, 고객센터 -->
		<section class="mem_login">
			<!-- 로그인 -->
			<div class="login">
				<form name="" method="" action="" >
				<fieldset>
				<legend>로그인 폼</legend>
					<h2>회원 로그인</h2>
					<p class="type">
						<label>
							<input type="radio" name="" value="" checked="checked" />
							화원사
						</label>
						<label>
							<input type="radio" name="" value="" />
							관리자
						</label>
					</p>

					<dl>
						<dt><label for="userId">ID</label></dt>
						<dd>
							<input type="text" id="userId" name="" value="" title="아이디 입력" />
						</dd>
						<dt><label for="userPw">PW</label></dt>
						<dd>
							<input type="password" id="userPw" name="" value="" title="비밀번호 입력" />
						</dd>
						<dt><label for="userKey">KEY</label></dt>
						<dd>
							<input type="password" id="userKey" name="" value="" title="키 입력" />
						</dd>
					</dl>
					<p class="save">
						<label>
							<input type="checkbox" name="" value="" />
							ID 저장
						</label>
						<label>
							<input type="checkbox" name="" value="" />
							PW 저장
						</label>
						<label>
							<input type="checkbox" name="" value="" />
							KEY 저장
						</label>
					</p>

					<input type="submit" name="" value="로그인" class="login_btn" />
					<p class="caution">! 개인컴퓨터가 아닐 경우 저장 체크시 개인정보가 타인에게 노출될 수 있습니다.</p>
				</fieldset>
				</form>
			</div>
			<!-- /로그인 -->

			<!-- 고객센터 -->
			<div class="center">
				<h2>CUSTOMER CENTER</h2>
				<h3 class="ir">이용 시간</h3>
				<ul class="time">
					<li>평일 / 토요일 / 공휴일  08:00 - 22:30</li>
					<li>일요일  08:00 - 21:00</li>
				</ul>

				<h3 class="ir">연락처</h3>
				<dl>
					<dt>TEL.</dt>
					<dd><a href="tel:1544-6487">1544-6487</a></dd>
					<dt>FAX.</dt>
					<dd>070-8224-6861</dd>
				</dl>
			</div>
			<!-- /고객센터 -->
		</section>
		<!-- /로그인, 고객센터 -->

		<!-- 제공 서비스 -->
		<section class="service">
			<h2 class="ir">제공 서비스</h2>
			<ul>
				<li class="join">
					<a href="Javascript:void(0);" onclick="joinLayer(); return false;" title="가입신청 새창" >
						<h3>신규 가맹점<br />가입신청</h3>
					</a>
				</li>
				<li class="flasystem">
					<a href="http://www.theflowercenter.co.kr/" target="_blank">
						<img src="/img/login/logo_Flasystem.png" alt="플라시스템 본부홈페이지" />
					</a>
				</li>
				<li class="out_customer">
					<a href="#" class="layerOpen" data="outLoginLayer" title="탈퇴회원 로그인 새창">
						탈퇴회원사 계산서 확인
					</a>
				</li>
				<li class="system">
					<a href="http://xn--js0by6d07by3dy7pm00a.com/" target="_blank">
						<h3>꽃배달 창업 시스템</h3>
						<img src="/img/login/logo_system.png" alt="꽃파는사람들 로고" />
						<p>무자본, 무점포, 무재고</p>
					</a>
				</li>
				<li class="region_navi">
					<a href="#none" onclick="alert('준비중입니다.');">
						<h3>위치기반 자동중계 서비스</h3>
						<p>배송지 주변 화원에게 실시간 자동중계</p>
						<img src="/img/login/txt_commingsoon.png" alt="오픈 예정" />
					</a>
				</li>
				<li class="certification">
					<h3>꽃배달업계 최초
						<p>ISO 9001, 14001 인증획득</p>
					</h3>
					<img src="/img/login/img_iso9001.gif" alt="ISO 9001 인증 마크" />
					<img src="/img/login/img_iso9001.gif" alt="ISO 14001 인증 마크" />
				</li>
			</ul>				

		</section>
		<!-- /제공 서비스 -->
	</div><!-- /container -->

	<hr />
	
	<footer id="footer">
		<p>본 웹사이트는 ie11이상 또는 크롬에 최적화 되어 있습니다. 윈도우xp 사용자께서는 크롬을 설치하여 이용하여 주시기 바랍니다.</p>
		<ul class="browser">
			<li><a href="https://www.google.com/chrome/" target="_blank"><img src="/img/login/btn_chrome.png" alt="크롬 설치" /></a></li>
			<li><a href="https://support.microsoft.com/ko-kr/help/17621/internet-explorer-downloads" target="_blank"><img src="/img/login/btn_ieRecent.png" alt="IE 최신 버전 설치" /></a></li>
		</ul>
		<address>대표자 김태진 / TEL <a href="tel:1544-6487">1544-6487</a> / FAX 070-8224-6861 / 부산광역시 사상구 모라로 22 부산벤처타워 1501호 Copyright (주)플라시스템 ©  All rights reserved.</address>
	</footer><!-- /footer -->
	

	<!-- 탈퇴회원 로그인 레이어 팝업 -->
	<div class="layer" id="outLoginLayer">
		<div class="overlay"></div>
		<div class="layer_pop login">
			<div class="inner">
				<h2>탈퇴회원 로그인</h2>
				<p class="text_warning text_14">탈퇴회원사만 로그인 가능</p>
				<a href="#" class="close">닫기</a>
				<form name="" method="" action="">
				<fieldset>
					<legend>탈퇴회원 로그인 폼</legend>
					<dl>
						<dt><label for="outUserId">ID</label></dt>
						<dd>
							<input type="text" id="outUserId" name="" value="" title="아이디 입력" />
						</dd>
						<dt><label for="outUserPw">PW</label></dt>
						<dd>
							<input type="password" id="outUserPw" name="" value="" title="비밀번호 입력" />
						</dd>
						<dt><label for="outUserKey">KEY</label></dt>
						<dd>
							<input type="password" id="outUserKey" name="" value="" title="키 입력" />
						</dd>
					</dl>
					<input type="submit" name="" value="로그인" class="login_btn" />
					<p>계산서 발행내역 조회 및 정산내역만 확인가능합니다.</p>
					<p class="mt15">기타문의는 고객센터 (1544-6487)로 문의바랍니다.</p>
				</fieldset>
				</form>
			</div>
		</div>
	</div><!-- /layer -->
	<!-- /탈퇴회원 로그인 레이어 팝업 -->

</div><!-- /wrap -->

<!-- 개발자 가이드 -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.developStatus').load('/status/status01.html');
	})
</script>
<div class="developStatus" style="position:absolute; top:5px; right:10px"></div>
<!-- //개발자 가이드 -->
</body>
</html>
